<ng-template #deleteContent let-modal>

  <form (ngSubmit)="OnDelete()">

    <!-- Modal Header -->
    <div class="modal-header justify-content-center">
      <h2 class="mt-1">Delete Issue</h2>
    </div>

    <!-- Modal Body -->
    <div class="modal-body row pl-4 pr-4 text-center">
      <div class="col-12 pt-5 pb-5">
        <!-- Title -->
        <h2>{{ deleteModalTitle }}</h2>

        <!-- Are you sure? -->
        <h6 class="text-center mt-5">Are you sure you want to delete this issue?</h6>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <!-- Buttons: Cancel & Save -->
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
      <button type="submit" class="btn btn-outline-danger">Delete Issue</button>
    </div>

  </form>

</ng-template>

<a class="float-right" (click)="open(deleteContent)">{{ deleteTextName }}</a>
