<div class="row">
    <div class="col-md-12">

        <!-- Organization Headings -->
        <div class="row border-bottom mt-4">

            <!-- Organization Name -->
            <div class="col-2">
                <h6 class="text-center w-auto">Name</h6>
            </div>

            <!-- Number of Employees -->
            <div class="col-2">
                <h6 class="text-center"># of Employees</h6>
            </div>

            <!-- Membership Package -->
            <div class="col-2">
                <h6 class="text-center">Status</h6>
            </div>

            <!-- Renewal Date -->
            <div class="col-2">
                <h6 class="text-center">Renews in</h6>
            </div>

            <!-- Number of Tasks Created -->
            <div class="col-2">
                <h6 class="text-center">Tasks Created</h6>
            </div>

            <!-- Number of Tasks Completed -->
            <div class="col-2">
                <h6 class="text-center">Tasks Completed</h6>
            </div>

        </div>

        <!-- Organization Items -->
        <div class="row pb-3 orgItemsCon">
            <div class="col-md-12">
                <app-orgs-list-item></app-orgs-list-item>
            </div>
        </div>

    </div>
</div>
