<!-- feature-productivity -->
<div class="container-fluid w-100 mw-100 p-0 m-0 featureCon mb-5 pb-5">
    <div class="row p-0 pt-3 m-0 justify-content-center">
        <!-- Page Title -->
        <div class="col-md-11">
            <div class="row p-0 m-0">

                <!-- Left Side -->
                <div class="col-md-6 p-0 m-0">

                    <h1 class="mt-5 mb-3">Features of Riski</h1>
                    <h5 class="mb-5">Productivity / <a routerLink="/feature-track-progress">Track Progress</a> &nbsp;/&nbsp; <a routerLink="/feature-deliver-results">Deliver Results</a></h5>

                    <h2 class="pt-2 mb-3">Increase Productivity</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Visualization of task completion</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Measure team performance</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Metrics for each member</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Availability of data</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Cloud Computing</p>

                    <br /><br />

                    <h2 class="mb-3">Benefits</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Automate Risk Assessment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; More effective employees</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Efficiency of Workflow</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Automatic Data Entry</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Faster Meetings</p>

                </div>

                <!-- Right Side -->
                <div class="col-md-6 p-0 m-0 mt-5">
                    <!-- Dashboard Page -->
                    <h2 class="mb-3 mt-5 pb-2">Task Overview</h2>
                    <img class="w-100 pb-2" src="assets/img/landing/w21-dash.jpg" />
                    <p class="px-4 mt-4 text-center">At a glance, see all of your most important tasks waiting to be completed.</p>
                </div>

            </div>
        </div>

        <!-- Team Links -->
        <div class="col-md-11">
        </div>

    </div>
</div>
