<nav id="riskMgmt-Navbar" class="navbar navbar-expand-lg navbar-light bg-light px-4">

  <!-- Logo -->
  <a routerLink="" class="navbar-brand">
    <h1>Riski</h1>
  </a>

  <!-- Hamburger Menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left Links - Collapse into Hamburger menu on small screens -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Risk Categories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/issues">Issues</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Risk Profiles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks">Tasks</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/surveys">Surveys</a>
      </li>

    </ul>

    <!-- Right side of header -->
    <div class="">

      <!--
      Login / Register links
      TODO: Hide when user logs in
      -->
      <div>
        <div class="float-left">
          Regsiter
        </div>
        <div class="float-left ml-4">
          Login
        </div>
      </div>

      <!--
      Search Bar
      TODO: Display when user logs in
      -->
      <div class="d-none">

        <form class="d-none form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>

    </div>





  </div>

</nav>


