nav {
  max-height: 60px;
  border-bottom: 1px solid #CCCCCC;
}

nav h1 {
  color: #403D3D;
  font-size: 32px;
  font-weight: 700;
  margin-top: 5px;
}

.signupLink {
  color: #7C7C7D;
}
.loginLink {
  color: #007BFF;
  border-radius: 5px;
  border: 1px solid #007BFF;
}
  .loginLink:hover {
    color: #FFFFFF;
    background-color: #409cff;
    border: 1px solid #409cff;
  }
.linkDropdown:hover {
  cursor: pointer;
}
.accountHeaderButton {
  color: #008BFF;
  border: 1px solid #008BFF;
}
  .accountHeaderButtonIcon {
    width: 22px;
    margin-top: -2px;
    filter: invert(55%) sepia(32%) saturate(2817%) hue-rotate(188deg) brightness(98%) contrast(106%);
  }
.orgHeaderButton {
  color: #6C757D;
  border: 1px solid #6C757D;
}
  .orgHeaderButtonIcon {
    width: 22px;
    margin-top: -2px;
    filter: invert(46%) sepia(17%) saturate(227%) hue-rotate(166deg) brightness(94%) contrast(91%);
  }
