<nav id="riskMgmt-Navbar" class="navbar navbar-expand-lg navbar-light bg-light px-4">

  <!-- Logo -->
  <a routerLink="" class="navbar-brand">
    <h1>Riski</h1>
  </a>

  <!-- Hamburger Menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left Links - Collapse into Hamburger menu on small screens -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" *ngIf="(userAuthService.user$ | async)">

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Risk Categories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/issues">Issues</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Risk Profiles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks">Tasks</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/surveys">Surveys</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/treatment-plan">Treatment Plan</a>
      </li>

    </ul>

    <!-- Right side of header -->
    <div class="ml-auto">

      <!--
      Login / Register links
      TODO: Hide when user logs in
      -->
      <div *ngIf="!(userAuthService.user$ | async)">
        <div class="float-left">
          <a class="nav-link signupLink" routerLink="/register">Sign Up</a>
        </div>
        <div class="float-left ml-3">
          <a class="nav-link loginLink" routerLink="/login">Login</a>
        </div>
      </div>

<!--      <div *ngIf="(userAuthService.user$ | async)">
        <div class="float-left" style="border-right:2px solid lightgray;">
          <a class="nav-link" style="color: black;"><b>{{this.organizationService.currentOrganization}}</b></a>
        </div>
        <button class="btn btn-danger ml-3" (click)="userAuthService.userSignOut()">Sign Out</button>
      </div>-->

      <div *ngIf="(userAuthService.user$ | async)">
        <div class="dropdown float-left">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Org: {{this.organizationService.currentOrganization}}
          </button>
          <div class="dropdown-menu">
            <a *ngFor="let org of this.organizationService.userOrganizations" class="dropdown-item" (click)="this.organizationService.changeCurrentOrg(org)">{{org}}</a>
          </div>
        </div>
        <button class="btn btn-danger ml-3" (click)="userAuthService.userSignOut()">Sign Out</button>
      </div>

      <!--
      Search Bar
      TODO: Display search bar when user logs in
      TODO: Display account link with dropdown

      <div class="d-none">

        <form class="d-none form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
      -->

    </div>

  </div>

</nav>


