<footer class="pt-3 pb-2">
  <div class="container">
    <div class="row">

      <!-- Column 1 -->
      <div class="col-md-4">
        <div>
          <h1 class="footerLogo">Riski</h1>
          <p class="pt-1 mt-3 companySlogan">What gets measured gets managed</p>
          <!-- Address -->
          <p class="pt-2 footerContactInfo">6050 University Ave, Halifax, NS B3H 1W5</p>
          <!-- Email -->
          <p class="footerContactInfo">info@riski.com</p>
          <!-- Phone -->
          <p class="footerContactInfo">(902) 494-2093</p>

        </div>
      </div>

      <!-- Column 2 -->
      <div class="col-md-3 pt-4 pl-5 mt-1">
        <h5 class="categoryHeader">NAVIGATE</h5>
        <div class="ml-2 mt-3 linkSpacing">
          <p class="categoryLink"><a routerLink="/dashboard">Home</a></p>
          <p class="categoryLink"><a routerLink="/categories">Risk Categories</a></p>
          <p class="categoryLink"><a routerLink="/issues">Risk Issues</a></p>
          <p class="categoryLink"><a routerLink="/profile">Risk Profiles</a></p>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="col-md-3 pt-4 pl-4 mt-1">
        <h5 class="categoryHeader">Information</h5>
        <div class="ml-2 mt-3 linkSpacing">
          <p class="categoryLink"><a href="/about">About Us</a></p>
          <p class="categoryLink"><a href="/services">Services</a></p>
          <p class="categoryLink"><a href="/team">The Team</a></p>
          <p class="categoryLink"><a href="/help">Help Center</a></p>
        </div>
      </div>

      <!-- Column 4 -->
      <div class="col-md-2 pt-4 mt-1">
        <h5 class="categoryHeader">SOCIAL MEDIA</h5>
        <div class="ml-2 mt-3 linkSpacing">
          <p class="categoryLink"><a href="https://www.instagram.com/riskiapp2021/">Instagram</a></p>
          <p class="categoryLink"><a href="https://www.facebook.com/Riski-103460948487169">Facebook</a></p>
          <p class="categoryLink"><a href="https://www.linkedin.com/in/riski-app-50220a209/">Linkedin</a></p>
          <p class="categoryLink"><a href="https://twitter.com/app_riski">Twitter</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- Rights Container -->
  <div class="container rightsContainer mt-3 pt-2">
    <div class="row">

      <!-- Left Column -->
      <div class="col-md-6">
        <p class="float-left mt-1 pt-3 smallText">
          © <span class="copyright-year">2020</span> Dal. All Rights Reserved.
        </p>
      </div>

      <!-- Right Column -->
      <div class="col-md-6">
        <p class="float-right mt-1 pt-3">
          <span class="smallText"><a routerLink="admin-dashboard" id="footerTermsAndPrivacy">Terms of use</a> & <a routerLink="admin-dashboard" id="footerTermsAndPrivacy">Privacy Policy</a></span>
        </p>
      </div>

    </div>
  </div>

</footer>
