<!-- Graph Widgets Container -->
<div class="row">
  <div class="col-md-12">

    <div id="taskGraphContainer" class="container-fluid taskContainerBorderRadius">

      <!-- Header -->
      <div class="row pt-md-2 summaryHeader">
        <div class="col-md-12">

          <!-- Title -->
          <div class="float-left">
            <h5 class="summaryHeaderText text-primary">Task Summary</h5>
          </div>

          <!-- 3 vertical dots -->
          <div class="float-right threeDots">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </div>

        </div>
      </div>

      <!-- Body -->
      <div class="row">

        <!--  -->
        <div class="col-md-3 chartSummaryLeftBarBorder">
          <app-tasks-summary></app-tasks-summary>
        </div>

        <!-- -->
        <div class="col-md-9 chartSummaryRightBar">
          <app-task-list></app-task-list>
        </div>

      </div>

    </div>

  </div>

  <!-- Bar Chart
  <div class="col-md-6">

    <div class="container-fluid containerBorderRadius">
    -->
      <!-- Header
      <div class="row pt-md-2 summaryHeader">
        <div class="col-md-12">
          -->
          <!-- Title
          <div class="float-left">
            <h5 class="summaryHeaderText text-primary">Bar graph summary</h5>
          </div>
          -->
          <!-- 3 vertical dots
          <div class="float-right threeDots">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </div>

        </div>
      </div>
      -->
      <!-- Body
      <div class="row pt-md-2">
        <div class="col-md-12">
          <p>Bar graph</p>
        </div>
      </div>

    </div>

  </div>
  -->
</div>
