#taskGraphContainer {
  min-height: 500px;
}
.taskContainerBorderRadius {
  min-height: 350px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px #DADADA;
}
.summaryHeader {
  min-height: 40px;
  border-bottom: 1px solid #eeeeee;
  background-color: #f9f9f9;
}
.summaryHeaderText {
  font-size: 18px;
}
.threeDots {
  color: #cccccc;
}
.threeDots:hover {
  cursor: pointer;
  color: #007BFF;
}
.chartSummaryLeftBarBorder {
  min-height: 100%;
  border-right: 1px solid #cccccc;
}
.chartSummaryRightBar {
  height: 480px;
  max-height: 480px;
  overflow-y: scroll;
  border-bottom-right-radius: 8px;
}
