<!--<div class="w-100" class="container-fluid">
    <div class="taskListContainer">
        <div class="container">

            &lt;!&ndash; Task Container &ndash;&gt;
            <div class="">

                &lt;!&ndash; Title, Task search & Add new task Container &ndash;&gt;
                <div class="row border-bottom mb-1 pb-2 mt-md-3">
                    &lt;!&ndash; Page title &ndash;&gt;
                    <div class="col-md-6">
                        <h2>Task List</h2>
                    </div>

                </div>

                &lt;!&ndash; Task Titles &ndash;&gt;
                <div class="row border-bottom mt-2">
                    <div class="col-2">
                        <h5 class="text-center w-auto" (click)="taskService.setSortedCategory('title')">Title</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center" (click)="taskService.setSortedCategory('source')">Created By</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center" (click)="taskService.setSortedCategory('status')">Status</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center" (click)="taskService.setSortedCategory('dueDate')">Date Created</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center" (click)="taskService.setSortedCategory('dueDate')">Due Date</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="text-center">Actions</h5>
                    </div>
                </div>

                &lt;!&ndash; Task Items &ndash;&gt;
                <app-task-item *ngFor="let taskItem of getTaskItemArray() | filter: taskSearchText" [taskItem]="taskItem"></app-task-item>

            </div>

        </div>
    </div>
</div>-->

<!-- Content Container -->
<div id="riskProfileContainer" class="container-fluid">

    <!-- Body Header Container -->
    <div class="row justify-content-center addRiskProfileMarginAndBorder">
        <div id="addriskProfileContainer" class="container">

            <!-- Title / Add new Issue Container -->
            <div class="row">

                <!-- Page Title -->
                <div class="col-md-7">
                    <h2>Task List</h2>
                </div>

                <!-- Search and Add New Task -->
                <div class="col-md-5">
                    <div class="row justify-content-end">

                        <!-- Add new Task -->
                        <!--              <div>
                                        <button routerLink="/create-task" class="btn btn-outline-success float-right mr-md-3">+ New Task</button>
                                      </div>-->

                        <app-create-new-task class="float-right"></app-create-new-task>

                        <!-- Search Tasks -->
                        <div class="pr-md-3">
                            <input class="form-control float-right" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="taskSearchText">
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Print out all Risk Profile items -->
    <app-new-task-item *ngFor="let taskItem of getTaskItemArray() | filter: taskSearchText" [taskItem]="taskItem" [frontPageDisplay]="false"></app-new-task-item>

</div>
