<!-- STAND ALONE TASK PAGE - /tasks -->
<div class="container-fluid taskPageContainer w-100 mw-100 px-0 m-0">

    <!-- Tasks Navigation Bar -->
    <div class="row tasksListNavigationBar px-2 m-0">
        <div class="col-md-12">
            <div class="row p-0">

                <!-- Title of page user is currently viewing -->
                <div class="col-md-4">
                    <h3 class="mt-2 pt-1">Task List</h3>
                </div>

                <!-- Search Bar -->
                <div class="col-md-8">
                    <div class="row justify-content-end">

                        <!-- Sort Tasks Dropdown Toggle -->
                        <button class="btn btn-outline-primary tasksSortButton mr-3" type="button" data-toggle="collapse" data-target="#tasksSortDropdown" aria-expanded="false" aria-controls="tasksSortDropdown">Sort Tasks</button>

                        <!-- Add new Task -->
                        <div>
                            <app-create-new-task class="float-right"></app-create-new-task>
                        </div>

                        <!-- Search Tasks -->
                        <div class="pr-3">
                            <input class="form-control float-right tasks-SearchBar" type="search" placeholder="Search tasks" aria-label="Search" [(ngModel)]="taskSearchText">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Sort Container -->
    <app-sort-tasks></app-sort-tasks>


    <!-- Print out all Task items -->
    <div class="row px-2 m-0 tasksContentCon justify-content-start">
        <div class="col-md-4 tasksItemContainer" *ngFor="let taskItem of getTaskItemArray() | filter: taskSearchText">
            <app-new-task-item [taskItem]="taskItem" [frontPageDisplay]="false"></app-new-task-item>
        </div>
    </div>

    <!-- Print out all Task items -->
<!--    <app-new-task-item *ngFor="let taskItem of getTaskItemArray() | filter: taskSearchText" [taskItem]="taskItem" [frontPageDisplay]="false"></app-new-task-item>-->

</div>
