<!-- Organization Approval Item -->
<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- Organization Name -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Company 1</p>
    </div>

    <!-- # of Employees at this Organization -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">John Smith</p>
    </div>

    <!-- Organization Subscription Type -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Awaiting approval</p>
    </div>

    <!-- Organization remaining days of Subscription -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">March 5th 2021</p>
    </div>

    <!-- # of Tasks created by Organization -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">1 day ago</p>
    </div>

    <!-- # of Tasks completed by Organization -->
    <div class="col-2 text-center">
        <div class="p-0 mt-md-1 mb-0">
            <button class="btn btn-outline-danger">Refuse</button>
            <button class="btn btn-outline-success ml-3">Approve</button>
        </div>
    </div>

</div>
