<div class="row pl-3 pr-4 my-4">
    <div class="col-md-12">
        <div class="row assignedTasks">

            <!-- Widget Header -->
            <div class="col-md-12 pt-2 assignedTasksHeader">
                <div class="float-left">
                    <h5>Organization</h5>
                </div>

                <!-- 3 vertical dots -->
                <div class="float-right threeDots">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                </div>

            </div>

            <!-- Assigned Tasks List -->
            <div class="col-md-12 mb-4">

                <!-- List of Organizations you're in -->
                <div class="row border-bottom p-3">

                    <!-- Add new Org -->
                    <div class="organizationImgCon text-center">
                        +
                    </div>

                    <!-- Current Organization -->
                    <div class="organizationCon text-center">
                        <div class="row px-3">

                            <!-- Image Container -->
                            <div class="px-1">
                                <img src="assets/img/admin-dash/organization.svg" alt="" />
                            </div>

                            <!-- -->
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Currently Selected</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Company Name</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>
