<!-- feature-track-progress -->
<div class="container-fluid w-100 mw-100 p-0 m-0 featureCon mb-5 pb-5">
    <div class="row p-0 pt-3 m-0 justify-content-center">
        <!-- Page Title -->
        <div class="col-md-11">
            <div class="row p-0 m-0">

                <!-- Left Side -->
                <div class="col-md-6 p-0 m-0">

                    <h1 class="mt-5 mb-3">Features of Riski</h1>
                    <h5 class="mb-5"><a routerLink="/feature-productivity">Productivity</a> / Track Progress &nbsp;/&nbsp; <a routerLink="/feature-deliver-results">Deliver Results</a></h5>

                    <h2 class="pt-2 mb-3">Track Progress</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; View all organization tasks</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Assign tasks to employees</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Track their progress</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Manage from anywhere</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; View graphed data</p>

                    <br /><br />

                    <h2 class="mb-3">Benefits</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Manage Employees with ease</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Automated Visualization</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Increased Productivity</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Increased Deliverables</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &bull; Improved Workflow</p>

                </div>

                <!-- Right Side -->
                <div class="col-md-6 p-0 m-0 mt-5">
                    <!-- Dashboard Page -->
                    <h2 class="mb-3 mt-5 pb-2">Manage Organization Categories</h2>
                    <img class="w-100 pb-2" src="assets/img/landing/risk_cats.jpg" />
                    <p class="px-4 mt-4 text-center">At a glance, see all of your most important tasks waiting to be completed.</p>
                </div>

            </div>
        </div>

        <!-- Team Links -->
        <div class="col-md-11">
        </div>

    </div>
</div>
