<div class="row p-o m-0 collapse" id="tasksSortDropdown">
    <div class="col-md-12">
        <div class="row sortMenuMarginAndBorder pt-3 px-2 pb-2 justify-content-center">

            <div class="col-md-12">
                <!-- Title -->
                <h4>Sort by:</h4>
            </div>

            <div class="col-md-12">
                <div class="row pl-3 pr-3 mt-3">
                    <!-- Sorting Options 1/4 -->
                    <div class="col-3">
                        <p>Alphabetically: <a>A-Z</a> / <a>Z-A</a></p>
                        <p>Likelihood: <a>Highest</a> / <a>Lowest</a></p>
                    </div>

                    <!-- Sorting Options 2/4 -->
                    <div class="col-3">
                        <p>Date Created: <a href="">Earliest</a> / <a href="">Latest</a></p>
                        <p>Impact: <a>Highest</a> / <a>Lowest</a></p>
                    </div>

                    <!-- Sorting Options 3/4 -->
                    <div class="col-3">
                        <p>Date Modified: <a href="">Earliest</a> / <a href="">Latest</a></p>
                        <!-- Category -->
                        <select>
                            <option>Category one</option>
                            <option>Category two</option>
                            <option>Category three</option>
                        </select>
                    </div>

                    <!-- Sorting Options 4/4 -->
                    <div class="col-3">
                        <p>Category Type: <a >Internal</a> / <a >External</a></p>
                        <p>Level of Risk: <a>High-Low</a>/<a>Low-High</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
