<!-- New Issue Item -->
<div class="row issueItemContainer" *ngIf="issueItem.parentIssue === 0">
  <div class="col-md-12">

    <!-- Issue Item Heading -->
    <div class="row">
      <!-- Issue Name -->
      <div class="col-md-12 pt-2 pb-1 issueItemHeading">
        <h5>{{issueItem.title}}</h5>
      </div>
    </div>

    <!-- Issue Item Body -->
    <div class="row py-2 issueItemBody">

      <!-- Issue Associated Category -->
      <div class="col-md-12">
        Category: {{issueItem.riskCategory}}
      </div>

      <!-- Issue Description -->
      <div class="col-md-12">
        Description:<br /> {{issueItem.description}}
      </div>

    </div>

    <!-- Issue Item Footer -->
    <div class="row">
      <div class="col-md-12 pt-2 pb-1 issueItemFooting">

        <!-- Edit Issue modal component -->
        <app-edit-issue
                editTextName="Edit"
                [editIssue]='issueItem'
                editModalID="{{issueItem.id}}"
                editModalTitle="{{ issueItem.title }}"
                editModalRiskCategory="{{ issueItem.riskCategory }}"
                editModalAssignee="{{ issueItem.assignee }}"
                editModalDescription="{{ issueItem.description }}"
                class="float-right">
        </app-edit-issue>

        <!-- Delete Issue Link -->
        <a class="float-right mr-3" (click)="onDeleteIssue()">Delete</a>

      </div>
    </div>

  </div>
</div>
