<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-org-admin-nav></app-org-admin-nav>

            <!-- Users awaiting approval Headings -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row border-bottom mt-4 p-0">

                        <!-- First Name -->
                        <div class="col-2">
                            <h6 class="text-center">First Name</h6>
                        </div>

                        <!-- Last Name -->
                        <div class="col-2">
                            <h6 class="text-center">Last Name</h6>
                        </div>

                        <!-- Email -->
                        <div class="col-2">
                            <h6 class="text-center">Email</h6>
                        </div>

                        <!-- Date Requested -->
                        <div class="col-2">
                            <h6 class="text-center">Date Requested</h6>
                        </div>

                        <!-- Status -->
                        <div class="col-2">
                            <h6 class="text-center">Status</h6>
                        </div>

                        <!-- Actions -->
                        <div class="col-2">
                            <h6 class="text-center">Actions</h6>
                        </div>

                    </div>

                    <!-- Users awaiting approval Items -->
                    <div class="row mb-3 orgAdminApprovalItemsCon">
                        <div class="col-md-12 p-0 m-0">
                            <app-org-admin-approval-item></app-org-admin-approval-item>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
