<div class="border-bottom p-1">
  <div class="row text-center pt-md-1">
    <div class="col-2">
      <p class="p-0 mt-md-1 mb-0">{{taskItem.title}}</p>
    </div>
    <div class="col-2">
      <p class="p-0 mt-md-1 mb-0">{{taskItem.createdBy.firstName}} {{taskItem.createdBy.lastName}}</p>
    </div>
    <div class="col-2">
      <p class="p-0 mt-md-1 mb-0">{{taskItem.status}}</p>
    </div>
    <div class="col-2">
      <p class="p-0 mt-md-1 mb-0">{{taskItem.createdDate.toISOString().substr(0,10)}}</p>
    </div>
    <div class="col-2">
      <p class="p-0 mt-md-1 mb-0">{{taskItem.dueDate.toISOString().substr(0,10)}}</p>
    </div>
    <div class="col-2 text-center">
      <button (click)="editSelfTask()" class="btn btn-info mr-2 p-0 taskButton">Edit</button>
      <button (click)="deleteSelfTask()" class="btn btn-danger p-0 taskButton">Delete</button>
    </div>
  </div>
</div>
