<!-- Landing Page -->
<div class="container-fluid p-0 m-0">
    <div class="row justify-content-center p-0 m-0">

        <!-- Call to Action for user -->
        <div class="col-md-12 p-0 m-0" id="aboveFoldLandingContainer">
            <div class="row p-0 m-0">

                <!-- ATF - Left Side -->
                <div class="col-md-12 ATF_LeftCon pl-5">
                    <div class="headingText">
                        <h1>
                            RISK MANAGEMENT SOFTWARE<br /> FOR <span>HIGHLY PRODUCTIVE TEAMS</span>
                        </h1>

                        <p>Track progress,&nbsp; improve Workflows,&nbsp; and have more time for what really matters.
                        </p>
                    </div>
                    <p></p>
                    <div class="ATF_InputContainer">
                        <div class="row">
                            <div class="col-md-9 pl-3">
                                <input type="email" placeholder="Enter your Email" id="landingEmail" name="landingEmail" [formControl]="landingEmail">
                            </div>
                            <div class="col-md-3 pl-0">
                                <button class="btn-lg btn-primary" (click)="onSubmit()">Register</button>
                            </div>
                        </div>
                    </div>
                </div>

                <<<<<<< HEAD=======>>>>>>> origin/dev
            </div>
        </div>

        <!-- What Riski Offers -->
        <div class="col-md-11 py-5">
            <div class="row justify-content-center">

                <!-- Feature One -->
                <div class="col-sm-10 col-md-4">
                    <div class="row p-4">
                        <div class="col-md-12 featureCards">
                            <div class="row justify-content-center text-center align-middle">

                                <!-- Image Container -->
                                <div class="col-md-12 pt-5 pb-3">
                                    <div class="row">
                                        <div class="col-md-12 featureImageContainer">
                                            <img src="assets/img/landing/lightning.svg" alt="" class="smallerFeatureCardImg" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Heading Container -->
                                <div class="col-md-12 pt-4">
                                    <h4>Work Smarter</h4>
                                </div>

                                <!-- Description Container -->
                                <<<<<<< HEAD <div class="col-md-12 pt-3">
                                    <p>Enable your teams to strive in today's fast paced environment with Riskis' cloud-based Risk Management platform.</p>
                                    =======
                                    <div class="col-sm-9 col-md-12 pt-3">
                                        <p>
                                            Enable your teams to strive in today's fast paced environment with Riskis' cloud-based Risk Management platform.
                                        </p>
                                        >>>>>>> origin/dev
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Two -->
                <div class=" col-sm-10 col-md-4">
                    <div class="row p-4">
                        <div class="col-md-12 featureCards">
                            <div class="row justify-content-center text-center">

                                <!-- Image Container -->
                                <div class="col-md-12 pt-5 pb-3">
                                    <div class="row">
                                        <div class="col-md-12 featureImageContainer">
                                            <img src="assets/img/landing/group.svg" alt="" class="largerFeatureCardImg" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Heading Container -->
                                <div class="col-md-12 pt-4">
                                    <h4>Track Progress</h4>
                                </div>

                                <!-- Description Container -->
                                <<<<<<< HEAD <div class="col-md-12 pt-3">
                                    <p>Monitor the progress of your teams and optimize your workflows to keep producing amazing results.</p>
                                    =======
                                    <div class="col-sm-8 col-md-12 pt-3">
                                        <p>
                                            Monitor the progress of your teams and optimize your workflows to keep producing amazing results.
                                        </p>
                                        >>>>>>> origin/dev
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Three -->
                <div class="col-sm-10 col-md-4">
                    <div class="row p-4">
                        <div class="col-md-12 featureCards">
                            <div class="row justify-content-center text-center">

                                <!-- Image Container -->
                                <div class="col-md-12 pt-5 pb-3">
                                    <div class="row">
                                        <div class="col-md-12 featureImageContainer">
                                            <img src="assets/img/landing/chart.svg" alt="" class="smallerFeatureCardImg" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Heading Container -->
                                <div class="col-md-12 pt-4">
                                    <h4>Deliver Results</h4>
                                </div>

                                <!-- Description Container -->
                                <<<<<<< HEAD <div class="col-md-12 pt-3">
                                    <p>Quickly create surveys to collect the data your organization needs and Riski will automatically assess the information.</p>
                                    =======
                                    <div class="col-sm-9 col-md-12 pt-3">
                                        <p>
                                            Quickly create surveys to collect the data your organization needs and Riski will automatically assess the information.
                                        </p>
                                        >>>>>>> origin/dev
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>