<!-- Landing Page -->
<div class="container-fluid">
    <div class="row">

        <!-- Call to Action for user -->
        <div class="col-md-12" id="aboveFoldLandingContainer">
            <div class="row">

                <!-- ATF - Left Side -->
                <div class="col-md-12 aboveFold_Left_TextContainer text-center">
                    <h1 class="aboveFoldHeading">Fast setup, no commitments</h1>
                    <p class="aboveFoldSubHeading">Try Riski and get your first 3 months free!</p>
                    <button class="btn-lg btn-primary px-5">Register</button>
                </div>

            </div>
        </div>

        <!-- Feature One -->
        <div class="col-md-12 bg-light py-5">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row">

                        <!-- Left Side -->
                        <div class="col-md-5 float-left imageCon">
                            <img src="assets/img/addRisk.svg" alt="" class="d-inline-block align-top addRiskImage" />
                        </div>

                        <!-- Right Side -->
                        <div class="col-md-7">
                            <div class="pt-5 pl-5">
                                <h1 class="aboveFoldHeading pt-5">Define Risks</h1>
                                <p class="aboveFoldSubHeading">Enable your teams to strive in today's fast paced environment by defining, creating and modifying Risks with Riskis' cloud-based Risk Management platform.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Feature Two -->
        <div class="col-md-12 py-4">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row">

                        <!-- Left Side -->
                        <div class="col-md-7">
                            <div class="pt-5 pr-5">
                                <h1 class="aboveFoldHeading pt-5">Assign Tasks</h1>
                                <p class="aboveFoldSubHeading">Our Risk Management platform allows organizations to manage the efficiency of their teams, optimize workflows, and produce amazing results.</p>
                            </div>
                        </div>

                        <!-- Right Side -->
                        <div class="col-md-5 imageCon">
                            <img src="assets/img/tasks.svg" alt="" class="d-inline-block align-top tasksImage" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Feature Three -->
        <div class="col-md-12 bg-light py-5">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row">

                        <!-- Left Side -->
                        <div class="col-md-5 imageCon">
                            <img src="assets/img/survey.svg" alt="" class="d-inline-block align-top surveyImage" />
                        </div>

                        <!-- Right Side -->
                        <div class="col-md-7">
                            <div class="pt-5 pl-5">
                                <h1 class="aboveFoldHeading pt-5">Create custom surveys</h1>
                                <p class="aboveFoldSubHeading">Create custom surveys and gather the data your organization needs and wants, and save time by allowing Riski to assess the risk of individuals based on your organizations data.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
