#aboveFoldLandingContainer {
    width: 100%;
    min-height: calc(100vh - 59px);
    max-height: 100vh;
    border-bottom: 1px solid #EEEEEE;
}
    .aboveFold_Left_TextContainer {
        margin-top: calc(50vh - 120px);
    }
    .featureCards {
        min-height: 400px;
        max-height: 400px;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 15px;
        box-shadow: 3px 3px 6px #EEEEEE;
    }
        .featureCards p {
            font-size: 1.1em;
        }
        .featureImageContainer {
            height: 80px;
        }
        .largerFeatureCardImg {
            width: 25%;
            filter: invert(55%) sepia(32%) saturate(2817%) hue-rotate(188deg) brightness(98%) contrast(106%);
        }
        .smallerFeatureCardImg {
            width: 16%;
            padding-top: 14px;
            filter: invert(55%) sepia(32%) saturate(2817%) hue-rotate(188deg) brightness(98%) contrast(106%);
        }
