<!-- Landing Page -->
<div class="container-fluid">
    <div class="row">

        <!-- Image Carousel -->
        <div class="col-md-12 bg-primary">
            slideshow
        </div>

        <!-- About Riski -->
        <div class="col-md-12 bg-light">
            About Riski
        </div>

        <!-- About Feature One -->
        <div class="col-md-12 bg-light">
            Feature One
        </div>

        <!-- About Feature Two -->
        <div class="col-md-12 bg-light">
            Feature Two
        </div>

        <!-- About Feature Three -->
        <div class="col-md-12 bg-light">
            Feature Three
        </div>

    </div>
</div>
