<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- First Name -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">John</p>
    </div>

    <!-- Last Name -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Smith</p>
    </div>

    <!-- Email -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">jsmith@gmail.com</p>
    </div>

    <!-- Date Requested -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">March 5th 2021</p>
    </div>

    <!-- Status -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">1 day ago</p>
    </div>

    <!-- Actions -->
    <div class="col-2 text-center">
        <div class="p-0 mt-md-1 mb-0">
            <button class="btn btn-outline-danger">Refuse</button>
            <button class="btn btn-outline-success ml-3">Approve</button>
        </div>
    </div>

</div>
