<!-- New Issue Item -->
<div class="row issueItemContainer">
    <div class="col-md-12">

        <!-- Issue Item Heading -->
        <div class="row">
            <!-- Issue Name -->
            <div class="col-md-12 pt-2 pb-1 issueItemHeading">
                <h5>{{policyItem.title}}</h5>
            </div>
        </div>

        <!-- Issue Item Body -->
        <div class="row py-2 issueItemBody">

            <!-- Issue Associated Category -->
            <div class="col-md-12">
                Description: {{policyItem.description}}
            </div>

            <!-- Issue Associated Category -->
            <div class="col-md-12">
                Risk Profiles: <br/>
                <li *ngFor="let risk of policyItem.riskprofile">
                    {{risk.title || risk}}
                </li>
            </div>

        </div>

        <!-- Issue Item Footer -->
        <div class="row">
            <div class="col-md-12 pt-2 pb-1 issueItemFooting">

                <!-- Edit Issue modal component -->
                <app-edit-policy
                        [inputPolicy]="policyItem"
                        class="float-right">
                </app-edit-policy>

                <!-- Delete Policy Link -->
                <a class="float-right mr-3" (click)="onDeletePolicy()">Delete</a>
                <div class="btn-group mr-3">
                    <button type="button" class="btn btn-primary">More info</button>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <h5>{{policyItem.title}}</h5>
                            <h5>{{policyItem.description}}</h5>
                            <h5>{{policyItem.riskprofile}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
