<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-admin-nav></app-admin-nav>

            <!-- Organization Headings -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row mt-0 p-0 px-3 orgViewCon">

                        <!-- Organization Logo -->
                        <div class="col-md-3">

                            <div class="row justify-content-center p-0">
                                <img src="assets/img/admin-dash/blank-org-img.png" title="asd" />
                            </div>

                            <div class="row p-0 text-center">

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Owner: <span>John Smith</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Created: <span>March 5th 2021</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Status: <span>Gold</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Renews In: <span>30 Days</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Employees: <span>16</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Tasks Created: <span>501</span></h6>
                                </div>

                                <!-- Owner -->
                                <div class="col-md-12">
                                    <h6>Tasks Completed: <span>489</span></h6>
                                </div>
                            </div>

                        </div>

                        <!-- Organization Name and Admin Options -->
                        <div class="col-md-9 pt-5">
                            <div class="row p-0">
                                <div class="col-md-12 orgViewBorder">
                                    <div class="row p-0">

                                        <!-- Organization Name -->
                                        <div class="col-md-9">
                                            <h1 class="">Organization One</h1>
                                        </div>

                                        <!-- Admin Options -->
                                        <div class="col-md-3">
                                            <div class="row p-0 justify-content-end">

                                                <!-- Edit Organization -->
                                                <div class="ml-3">
                                                    <a class="btn btn-outline-secondary" routerLink="/admin-dashboard-organizations">Edit</a>
                                                </div>

                                                <!-- Delete Organization -->
                                                <div class="ml-3">
                                                    <a class="btn btn-outline-danger" routerLink="/admin-dashboard-organizations">Freeze</a>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
