.widgetBorderRadius {
  border-radius: 8px;
  background-color: #E81500;
}
.widgetHeader {
  min-height: 35px;
  color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.widgetBody {
  color: #ffffff;
}
.widgetFooter {
  height: 45px;
  color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #E31404;
}
.widgetFooter a {
  color: #FFFFFF;
}
/* unvisited link */
.widgetFooter a:link {
  color: #FFFFFF;
}
/* visited link */
.widgetFooter a:visited {
  color: #FFFFFF;
}
/* mouse over link */
.widgetFooter a:hover {
  color: #FFFFFF;
}
/* selected link */
.widgetFooter a:active {
  color: #FFFFFF;
}
.taskWidgetDescriptionText {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
