<!-- Task Widget Container -->
<div class="container-fluid widgetBorderRadius">

  <!-- Header -->
  <div class="row pt-md-2 widgetHeader">
    <div class="col-md-12">
      <h6>Tasks</h6>
    </div>
  </div>

  <!-- Body -->
  <div class="row pt-md-3 pb-md-3">

    <!-- Body Column 1 -->
    <div class="col-md-6 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{countInProgress(1)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="taskWidgetDescriptionText">In Progress</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Body Column 2 -->
    <div class="col-md-6 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{countCompleted(2)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="taskWidgetDescriptionText">Completed</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="row pt-md-2 widgetFooter">
    <!-- -->
    <div class="col-md-12">

      <!-- -->
      <div class="float-left">
        <a routerLink="/tasks">View Tasks</a>
      </div>

      <!-- -->
      <div class="float-right">
        <p><b>&#62;</b></p>
      </div>

    </div>
  </div>

</div>
