<ng-template #editPolicyComponent let-modal>

    <form [formGroup]="newPolicyForm" (ngSubmit)="editPolicy()">

        <div class="modal-header justify-content-center">
            <h2 class="mt-1">Edit an Existing Policy</h2>
        </div>

        <div class="modal-body row pl-4 pr-4">

            <!-- Title -->
            <label class="labelAndInput">Title</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="policyTitle">
            </div>

            <!-- Description -->
            <label class="labelAndInput">Description</label>
            <div class="input-group mb-3">
                <textarea class="form-control" formControlName="policyDescription"></textarea>
            </div>

            <!-- Add risk category -->
            <label for="addRiskCategory" class="labelAndInput">Risk Profiles</label>
            <div class="input-group mb-3">
                <select
                        class="form-control"
                        id="addRiskCategory"
                        name="addRiskCategory"
                        formControlName="riskProfiles"
                        multiple
                >
                    <option *ngFor="let risk of riskService.riskProfiles" [value]=risk.title>
                        {{ risk.title }}
                    </option>

                </select>

            </div>

        </div>

        <!-- Buttons: Cancel & Save -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </div>

    </form>

</ng-template>

<a class="float-right" (click)="open(editPolicyComponent)">Edit</a>
