<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- ID -->
<!--    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">00000001</p>
    </div>-->

    <!-- First Name -->
    <div class="col-6">
        <p class="p-0 mt-md-1 mb-0">{{this.user.firstName}}</p>
    </div>

    <!-- Last Name -->
<!--    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Smith</p>
    </div>-->

    <!-- Total Tasks Created by User -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">{{this.countTasksCreated}}</p>
    </div>

    <!-- Total Tasks Completed by User -->
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">{{this.countTasksCompleted}}</p>
    </div>

    <!-- Actions -->
<!--    <div class="col-2 text-center">
        <div class="p-0 mt-md-1 mb-0">
            <button class="btn btn-outline-danger">Remove</button>
            <button class="btn btn-outline-secondary ml-3">Edit</button>
        </div>
    </div>-->

</div>
