<!-- User Profile Component -->
<div class="row pl-4 pr-2 my-4">
    <div class="col-md-12">
        <div class="row userProfile">

            <!-- Widget Header -->
            <div class="col-md-12 pt-2 userProfileHeader">
                <div class="float-left">
                    <h5>Profile</h5>
                </div>

                <!-- 3 vertical dots -->
                <div class="float-right threeDots">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                </div>

            </div>

            <!-- Profile Picture -->
            <div class="col-md-12 mt-4">
                <div class="profilePictureCon">
                    <img src="assets/img/admin-dash/account.svg" alt="" />
                </div>
            </div>

            <!-- First & Last Name -->
            <div class="col-md-12 mt-3 text-center">
                <h5>John Smith</h5>
            </div>

            <!-- Profile Picture -->
            <div class="col-md-12 mt-3 text-center">
                <h6>Email: johnsmith@gmail.com</h6>
            </div>

            <!-- Profile Picture -->
            <div class="col-md-12 mt-3 text-center">
                <h6>Tasks Created: 354</h6>
            </div>

            <!-- Profile Picture -->
            <div class="col-md-12 mt-3 text-center">
                <h6>Tasks Completed: 338</h6>
            </div>

            <!-- Profile Picture -->
            <div class="col-md-12 mb-4">

            </div>

        </div>
    </div>
</div>
