<ng-template #editCategoryContent let-modal>

  <form (ngSubmit)="OnSubmit()">

    <div class="modal-header justify-content-center">
      <h2 class="mt-1">Edit Category</h2>
    </div>

    <div class="modal-body row pl-4 pr-4">

      <!-- Category Title -->
      <label for="editName" class="labelAndInput">Title</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="editName" name="editName" value="{{ editModalName }}" [(ngModel)]="category.name">
      </div>
      <!-- Is this a Parent or Child category? -->
      <label for="isParentCategory" class="labelAndInput">Is this Category a Parent Category?</label>
      <div class="input-group mt-2 mb-4" id="isParentCategory">
        <!-- Category is a Parent Category -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" [checked]="parentChecked === true ? true : false" type="radio" name="inlineRadioOptions" id="parentTrue" (click)="isEditParentCategory(true)">
          <label class="form-check-label mr-5" for="parentTrue">Parent Category</label>
        </div>
        <!-- Category is a Child Category -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" [checked]="childChecked === true ? true : false" type="radio" name="inlineRadioOptions" id="childTrue" (click)="this.isEditParentCategory(false)">
          <label class="form-check-label" for="childTrue">Child Category</label>
        </div>

      </div>

      <!-- Select Parent of this Category -->
      <label for="editParentCategory" class="labelAndInput">Parent Category</label>
      <div class="input-group mb-3">
        <select class="form-control" [disabled]="parentChecked === true ? true : false" id="editParentCategory" name="editParentCategory" [(ngModel)]="category.parentCategory">
          <option [selected]="parentChecked === true ? true : false" placeholder="Select a Parent Category">Select a Parent Category</option>
          <option *ngFor="let item of categoryService.categories" [ngValue]=item>
            {{item.name}}
          </option>
        </select>
      </div>

      <!-- Category Description -->
      <label for="editDescription" class="labelAndInput">Description</label>
      <div class="input-group mb-1">
        <textarea class="form-control" id="editDescription" name="editDescription" ngModel [(ngModel)]="category.description">{{ editModalDescription }}</textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary">Save Changes</button>
    </div>

  </form>

</ng-template>

<a class="float-right" (click)="open(editCategoryContent); this.initialParentCategory(category.getInitialParentName(category.parentCategory))">{{ editTextName }}</a>
