<!-- Issue Widget Container -->
<div class="container-fluid widgetBorderRadius">

  <!-- Header -->
  <div class="row widgetHeader">
    <div class="col-md-12">
      <h6>Issues</h6>
    </div>
  </div>

  <!-- Body -->
  <div class="row pt-md-3 pb-md-3">

    <!-- Body Column 1 -->
    <div class="col-md-6 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getParentIssueCount()}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="issueWidgetDescriptionText">Parent</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Body Column 2 -->
    <div class="col-md-6 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getChildIssueCount()}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="issueWidgetDescriptionText">Child</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="row pt-xs-2 pt-sm-2 pt-md-2 widgetFooter">
    <!-- -->
    <div class="col-md-12">

      <!-- -->
      <div class="float-left">
        <a routerLink="/issues">View Issues</a>
      </div>

      <!-- -->
      <div class="float-right">
        <p><b>&#62;</b></p>
      </div>

    </div>
  </div>

</div>
