.widgetBorderRadius {
  border-radius: 8px;
  background-color: #00AC69;
}
.widgetHeader {
  min-height: 35px;
  color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.widgetBody {
  color: #ffffff;
}
.widgetFooter {
  height: 45px;
  color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #02A767;
}
.issueWidgetDescriptionText {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
