<div class="container-fluid profilePageContainer w-100 mw-100 px-0 m-0">

  <!-- Profiles Navigation Bar -->
  <div class="row profilesNavigationBar px-2 m-0">
    <div class="col-md-12">
      <div class="row p-0">

        <!-- Title of page user is currently viewing -->
        <div class="col-md-4">
          <h3 class="mt-2 pt-1">Risk Profiles</h3>
        </div>

        <!-- Profile options: Sort, Add, Search -->
        <div class="col-md-8">
          <div class="row justify-content-end pt-1">

            <!-- Add Risk Profile modal component -->
            <div>
              <app-add-risk-profile
                      addTextName="+ Risk Profile"
                      [addRiskProfile]="riskProfileItem"
                      class="float-right">
              </app-add-risk-profile>
            </div>

            <!-- Sort Risk Profiles Dropdown Toggle -->
            <button class="btn btn-outline-primary profilesSortButton mr-3" type="button" data-toggle="collapse" data-target="#profilesSortDropdown" aria-expanded="false" aria-controls="profilesSortDropdown">Sort Profiles</button>


            <!-- Search Issues bar -->
            <div class="pr-3">
              <input class="form-control searchBar text-wrap" type="text" placeholder="Search profiles" name="riskProfileList" [(ngModel)]="RiskProfileSearchText" value="Search">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sort Container -->
  <app-sort-profile
    (categorySelectedEvent)="setCurrentCategory($event)"
  ></app-sort-profile>

  <!-- Print out all Risk Profile items -->
  <div class="row px-2 m-0 profilesContentCon justify-content-start">
    <div class="col-md-4 profilesItemContainer" *ngFor="let item of riskProfiles | filter: RiskProfileSearchText:this.currentCategory">
      <app-risk-profile-item [riskProfileItem]="item"></app-risk-profile-item>
    </div>
  </div>

</div>
