<!-- Profile Widget Container -->
<div class="container-fluid widgetBorderRadius">

  <!-- Widget Header -->
  <div class="row pt-md-2 widgetHeader">
    <div class="col-md-12">
      <h6>Profiles</h6>
    </div>
  </div>

  <!-- Widget Body -->
  <div class="row pt-md-3 pb-md-3">

    <!-- Low-risk Risk Profiles -->
    <div class="col-md-2 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Low-risk Risk Profiles -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{countRiskLevel(1)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center widgetDescriptionText">
              Low
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Low-Med-risk Risk Profiles -->
    <div class="col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Low-Med-risk Risk Profiles -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{countRiskLevel(2)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center p-0 m-0 widgetDescriptionText">
              Low-Med
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Med-risk Risk Profiles -->
    <div class="col-md-2 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Med-risk Risk Profiles -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{countRiskLevel(3)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center widgetDescriptionText">
              Med
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Med-Hi-risk Risk Profiles -->
    <div class="col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Med-Hi-risk Risk Profiles -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{countRiskLevel(4)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center widgetDescriptionText">
              Med-Hi
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- High-risk Risk Profiles -->
    <div class="col-md-2 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of High-risk Risk Profiles -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{countRiskLevel(5)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center widgetDescriptionText">
              High
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Widget Footer -->
  <div class="row pt-xs-2 pt-sm-2 pt-md-2 widgetFooter">
    <div class="col-md-12">

      <div class="float-left">
        <a routerLink="/profile">
          View Profiles
        </a>
      </div>

      <div class="float-right">
        <p><b>&#62;</b></p>
      </div>

    </div>
  </div>

</div>
