<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-admin-nav></app-admin-nav>

            <!-- Organization Headings -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row border-bottom mt-4 p-0">

                        <!-- Organization Name -->
                        <div class="col-2">
                            <h6 class="text-center">Name</h6>
                        </div>

                        <!-- Number of Employees -->
                        <div class="col-2">
                            <h6 class="text-center">Created By</h6>
                        </div>

                        <!-- Membership Package -->
                        <div class="col-2">
                            <h6 class="text-center">Status</h6>
                        </div>

                        <!-- Renewal Date -->
                        <div class="col-2">
                            <h6 class="text-center">Date Created</h6>
                        </div>

                        <!-- Number of Tasks Created -->
                        <div class="col-2">
                            <h6 class="text-center">Requested</h6>
                        </div>

                        <!-- Number of Tasks Completed -->
                        <div class="col-2">
                            <h6 class="text-center">Actions</h6>
                        </div>

                    </div>

                    <!-- Organization Items -->
                    <div class="row mb-3 orgApprovalItemsCon">
                        <div class="col-md-12 p-0 m-0">
                            <app-org-approval-item></app-org-approval-item>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
