#loginContainer {
    width: 100%;
    min-height: 550px;
    max-height: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #EEEEEE;
}
    .loginImage {
        width: 70%;
        margin-left: 12%;
        margin-top: 35%;
    }
