.loginPageCon {
    min-height: calc(100vh - 60px);
    padding-top: 15px;
    padding-bottom: 15px;
}
#loginContainer {
    width: 100%;
    min-height: 550px;
    max-height: auto;
    margin-top: calc((100vh - 610px) / 2);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #EEEEEE;
}
    .loginImage {
        width: 70%;
        margin-left: 12%;
        margin-top: 35%;
        margin-bottom: 50px;
    }
