<div class="container-fluid issuePageContainer w-100 mw-100 px-0 m-0">

  <!-- Issues Navigation Bar -->
  <div class="row issuesNavigationBar px-2 m-0">
    <div class="col-md-12">
      <div class="row p-0">

        <!-- Title of Current Page -->
        <div class="col-md-4">
          <h3 class="mt-2 pt-1">Issue List</h3>
        </div>

        <!-- Profile options: Sort, Add, Search -->
        <div class="col-md-8">
          <div class="row justify-content-end p-1">

            <!-- Sort Risk Issues Dropdown Toggle -->
            <button class="btn btn-outline-primary issuesSortButton mr-3" type="button" data-toggle="collapse" data-target="#issuesSortDropdown" aria-expanded="false" aria-controls="issuesSortDropdown">Sort Issues</button>

            <!-- Add issue modal component -->
            <div>
              <app-add-issue
                addTextName="+ Issue"
                [addIssue]="issueItem"
                class="float-right">
              </app-add-issue>
            </div>

            <!-- Search Issues bar -->
            <div class="pr-3">
              <input class="form-control" type="text" placeholder="Search issues" name="issuelist" [(ngModel)]="IssueSearchText" value="Search">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Sort Container -->
  <app-sort-issue (categorySelectedEvent)="setCurrentCategory($event)"></app-sort-issue>

  <!-- Print out all Issue items -->
  <div class="row px-2 m-0 issuesContentCon justify-content-start">
    <div class="col-md-4 issuesItemContainer" *ngFor="let item of issues | filter: IssueSearchText">
      <app-issue-item [issueItem]="item"></app-issue-item>
    </div>
  </div>

</div>
