<!-- New Profile Item -->
<div class="row profileItemContainer">

  <!-- Each Issue Profile Items-->
  <div class="col-md-12">

    <!-- Issue Profile Heading -->
    <div class="row profileItemHeading">
      <!-- Profile Name -->
      <div class="col-6 pt-2 pb-1">
        <h5>{{riskProfileItem.title}}</h5>
      </div>
      <div class="col-6 text-right pt-2">
        <!-- Profile Level of Risk Badge -->
        <span class="badge badge-{{riskProfileItem.getLevelOfRiskBadge().css}}">
          {{riskProfileItem.getLevelOfRiskBadge().level}}
        </span>
      </div>
    </div>

    <!-- Issue Profile Body -->
    <div class="row pt-3 profileItemBody">

      <div class="col-md-12">

        <!-- Profile Associated Category -->
        <p class="">Category: {{riskProfileItem.riskCategory.name}}</p>

        <!-- Profile Source of Risk -->
        <p class="">Source of Risk: {{riskProfileItem.sourceOfRisk}}</p>

        <!-- Profile Description -->
        <p class="">Description: {{riskProfileItem.description}}</p>

      </div>

    </div>

    <!-- Profile Item Footer -->
    <div class="row">
      <div class="col-md-12 pt-2 pb-1 profileItemFooting">

        <!-- Edit Profile modal component -->
        <app-edit-risk-profile
                editTextName="Edit"
                [editRiskProfile]='riskProfileItem'
                editModalRiskProfileID="{{riskProfileItem.id}}"
                editModalRiskProfileTitle="{{ riskProfileItem.title }}"
                editModalRiskProfileLikelihood="{{ riskProfileItem.likelihood }}"
                editModalRiskProfileImpact="{{ riskProfileItem.impact }}"
                editModalRiskProfileDateModified="{{ riskProfileItem.dateModified }}"
                editModalRiskProfileDescription="{{ riskProfileItem.description }}"
                editModalRiskProfileSourceOfRisk="{{ riskProfileItem.sourceOfRisk }}"
                class="float-right">
        </app-edit-risk-profile>

        <!-- Delete Profile Link -->
        <a class="float-right mr-4" (click)="onDeleteRiskProfile()">Delete</a>

      </div>
    </div>

  </div>
</div>
