<div class="container p-3 mt-3 mb-3 border">
  <h2>Create a New Task</h2>
  <form class="p-3" [formGroup]="newTaskForm" (ngSubmit)="createNewTask()">
    <div class="form-group">

      <div class="col-md-12" *ngIf="!providedTitle">
        <p class="text-danger">You must enter a title.</p>
      </div>

      <label>Title</label>
      <input type="text" class="form-control" formControlName="taskTitle" placeholder="Enter Title...">
    </div>
    <div class="form-group">
      <label>Source</label>
      <select class="form-control" id="createdBy" name="createdBy" formControlName="createdBy" [ngModel]="dummyUserModel">
        <option [ngValue]="userService.categories[0]" [defaultSelected]="true">{{userService.categories[0].firstName}} {{userService.categories[0].lastName}}</option>
        <option [ngValue]="userService.categories[1]">{{userService.categories[1].firstName}} {{userService.categories[1].lastName}}</option>
        <option [ngValue]="userService.categories[2]">{{userService.categories[2].firstName}} {{userService.categories[2].lastName}}</option>
        <option [ngValue]="userService.categories[3]">{{userService.categories[3].firstName}} {{userService.categories[3].lastName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Status</label>
      <!--<input type="text" class="form-control" formControlName="taskStatus" placeholder="Enter Status...">-->
      <select class="form-control" id="taskStatus" name="taskStatus" formControlName="taskStatus">
        <option value="In Progress" [defaultSelected]="true">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
    <div class="form-group">
      <div class="col-md-12" *ngIf="!providedDate">
        <p class="text-danger">You must enter a due date.</p>
      </div>
      <label>Due Date</label>
      <input type="date" class="form-control" formControlName="taskDueDate" placeholder="Enter Due Date...">
    </div>
    <button class="btn btn-primary">Create</button>
  </form>
</div>
