<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-org-admin-nav></app-org-admin-nav>

            <!-- Admin Dashboard Home Page -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row my-4 p-0 px-3">

                        <!-- LEFT SIDEBAR -->
                        <div class="col-md-3">

                            <!-- Users Overview -->
                            <div class="row adminDashOverviewCon mb-4">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeaderUsers">
                                    <h5>Users</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0 adminDashOverviewConBodyUsers">
                                    <div class="row p-0 text-center">

                                        <!-- Total Users -->
                                        <div class="col-md-6">
                                            <h2>16</h2>
                                            <h6>Users</h6>
                                        </div>

                                        <!-- New Users Today -->
                                        <div class="col-md-6">
                                            <h2>2.4</h2>
                                            <h6>Tasks Each</h6>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 py-2 adminDashOverviewConFooterUsers">
                                    <a routerLink="/org-admin-dashboard-users">View all Users</a>
                                </div>

                            </div>

                            <!-- Organizations Overview -->
                            <div class="row adminDashOverviewCon mb-4">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeaderOrganizations">
                                    <h5>Organization</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0 adminDashOverviewConBodyOrganizations">
                                    <div class="row p-0 text-center">

                                        <!-- Total Organizations -->
                                        <div class="col-md-6 mb-4">
                                            <h2>6</h2>
                                            <h6>Categories</h6>
                                        </div>

                                        <!-- New Organizations Today -->
                                        <div class="col-md-6 mb-4">
                                            <h2>4</h2>
                                            <h6>Profiles</h6>
                                        </div>

                                        <!-- Total Organizations -->
                                        <div class="col-md-6">
                                            <h2>14</h2>
                                            <h6>Issues</h6>
                                        </div>

                                        <!-- New Organizations Today -->
                                        <div class="col-md-6">
                                            <h2>31</h2>
                                            <h6>Tasks</h6>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 py-2 adminDashOverviewConFooterOrganizations">
                                    <a routerLink="/org-admin-dashboard-organization">View Details of Organization</a>
                                </div>

                            </div>

                            <!-- Approval Overview -->
                            <div class="row adminDashOverviewCon">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeaderApprovals">
                                    <h5>Approvals</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0 adminDashOverviewConBodyApprovals">
                                    <div class="row p-0 text-center">

                                        <!-- Total Organizations -->
                                        <div class="col-md-12">
                                            <h2>1 <span>awaiting approval</span></h2>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 py-2 adminDashOverviewConFooterApprovals">
                                    <a routerLink="/org-admin-dashboard-approval">View all Required Approvals</a>
                                </div>

                            </div>

                        </div>

                        <!-- RIGHT SIDEBAR -->
                        <div class="col-md-9">
                            <div class="row p-0 pl-4 pr-1">
                                <div class="col-md-12 adminDashOverviewChartCon">
                                    <div class="row p-0">

                                        <!-- Graph Header -->
                                        <div class="col-md-12 pt-2 pb-1 adminDashOverviewChartConHeader">
                                            <h5>Platform Usage</h5>
                                        </div>

                                        <!-- Graph Body -->
                                        <div class="col-md-12 pt-2 pb-1">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
