<div class="container-fluid w-100 mw-100 px-0 m-0">

  <!-- Risk Map Report Navigation Bar -->
  <div class="row riskMatrixNavigationBar px-2 m-0">
    <div class="col-md-12">
      <div class="row p-0">

        <!-- Title of page user is currently viewing -->
        <div class="col-md-6">
          <h3 class="mt-2 pt-1">Risk Matrix</h3>
        </div>

        <!-- Search Bar -->
        <div class="col-md-6">
          <div class="row justify-content-end">

            <!-- Sort Risk Profiles Dropdown Toggle -->
            <!--            <button class="btn btn-outline-primary riskMatrixSortButton mr-3" type="button" data-toggle="collapse" data-target="#profilesSortDropdown" aria-expanded="false" aria-controls="profilesSortDropdown">Sort Profiles</button>-->

            <!-- Add Risk Profile modal component -->
            <div>
              <app-add-risk-profile
                      addTextName="+ Risk Profile"
                      class="float-right">
              </app-add-risk-profile>
            </div>

            <!-- Search Issues bar -->
            <div class="pr-3">
              <input class="form-control" type="text" placeholder="Search profiles" name="riskProfileMapList">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row p-0 m-0 justify-content-center">
    <div class="col-md-10 my-5">
      <canvas baseChart class="p-2"
              [datasets]="scatterChartData"
              [options]="scatterChartOptions"
              [labels]="scatterChartLabels"
              [chartType]="scatterChartType"
              [plugins]="scatterPlugins"
              [legend]="true"
              (chartClick)="chartClicked($event)"
      >
      </canvas>
    </div>
  </div>

</div>

<ng-template #profileModal let-modal>
  <form class="container">

    <!-- Modal Header -->
    <div class="modal-header justify-content-center">
      <h2 class="mt-1">Risk Profile</h2>
    </div>

    <!-- Modal Body -->
    <div class="modal-body row pl-4 pr-4">

      <!-- Title -->
      <label for="editTitle" class="labelAndInput">Title</label>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control" id="editTitle" name="editTitle" value="{{ currentModel.title }}" ngModel [(ngModel)]="currentModel.title">
      </div>

      <label for="editTitle" class="labelAndInput">Likelihood</label>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control" name="likelihood" value="{{ currentModel.likelihood }}" ngModel [(ngModel)]="currentModel.likelihood">
      </div>

      <label for="editTitle" class="labelAndInput">Impact</label>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control" name="impact" value="{{ currentModel.impact }}" ngModel [(ngModel)]="currentModel.impact">
      </div>

      <label for="editTitle" class="labelAndInput">Risk Category</label>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control" name="riskCategory" value="{{ currentModel.riskCategory }}" ngModel [(ngModel)]="currentModel.riskCategory">
      </div>

      <label for="editTitle" class="labelAndInput">Description</label>
      <div class="input-group mb-3">
        <textarea type="text" disabled class="form-control" name="description" value="{{ currentModel.description }}" ngModel [(ngModel)]="currentModel.description">{{currentModel.description}}</textarea>
      </div>

      <label for="editTitle" class="labelAndInput">Source of Risk</label>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control" name="sourceOfRisk" value="{{ currentModel.sourceOfRisk }}" ngModel [(ngModel)]="currentModel.sourceOfRisk">
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <!-- Buttons: Cancel & Save -->
      <button type="button" class="btn btn-primary" (click)="modal.close('')">Close</button>
    </div>

  </form>

</ng-template>
