.riskMatrixNavigationBar {
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #EEEEEE;
}
.riskMatrixNavigationBar input {
    width: 170px;
    height: 36px;
    margin-top: 11px;
}
.riskMatrixNavigationBar h3 {
    font-weight: 700;
}
.riskMatrixSortButton {
    height: 36px;
    margin-top: 11px;
    padding-top: 4.5px;
}
.riskMatrixSortButton:focus {
    outline: none;
    box-shadow: none;
}
.matrixDescription, .matrixChart, .matrixNewRiskProfiles {
    border-bottom: 2px solid #EEEEEE;
}
