<div class="container-fluid w-100 mw-100 px-0 m-0">

  <!-- Risk Map Report Navigation Bar -->
  <div class="row riskMatrixNavigationBar px-2 m-0">
    <div class="col-md-12">
      <div class="row p-0">

        <!-- Title of page user is currently viewing -->
        <div class="col-md-4">
          <h3 class="mt-2 pt-1">Risk Matrix</h3>
        </div>

        <!-- Profile options: Sort, Add, Search -->
        <div class="col-md-8">
          <div class="row justify-content-end p-1">

            <!-- Add Risk Profile modal component -->
            <div>
              <app-add-risk-profile
                      addTextName="+ Risk Profile"
                      class="float-right">
              </app-add-risk-profile>
            </div>

            <!-- Sort Risk Profiles Dropdown Toggle -->
              <button class="btn btn-outline-primary riskMatrixSortButton mr-3" type="button" data-toggle="collapse" data-target="#profilesSortDropdown" aria-expanded="false" aria-controls="profilesSortDropdown">Sort Profiles</button>

            <!-- Search Issues bar -->
            <div class="pr-3">
              <input class="form-control" type="text" placeholder="Search profiles" name="riskProfileMapList" [(ngModel)]="profileSearchText">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Sort Container when Sort button is clicked -->
  <app-sort-profile
          (categorySelectedEvent)="setCurrentCategory($event)">
  </app-sort-profile>

<!-- Generate Risk Matrix Chart -->
  <div class="row p-0 m-0 justify-content-center">
    <div class="col-md-10 my-5 matrixChart">
      <canvas baseChart class="p-2"
              [datasets]="scatterChartData"
              [options]="scatterChartOptions"
              [labels]="scatterChartLabels"
              [chartType]="scatterChartType"
              [plugins]="scatterPlugins"
              [legend]="true"
              (chartClick)="chartClicked($event)"
      >
      </canvas>
    </div>
  </div>

  <!-- Risk Profiles on the Risk Matrix -->
  <div class="row p-0 m-0 justify-content-center">
    <div class="col-md-10 mb-5 matrixNewRiskProfiles">
      <div class="row p-0 m-0 justify-content-center">
        <h4 class="text-center mb-4"> Risk Profiles </h4>
        <div class="col-md-12 profilesItemContainer" *ngFor="let item of riskProfileService.getRiskProfiles() | filter: profileSearchText">
          <app-risk-profile-display [riskProfileItem]="item"></app-risk-profile-display>
        </div>
      </div>

    </div>
  </div>

  <!-- Risk Matrix  Description -->
  <div class="row p-0 m-0 justify-content-center ">
    <div class="col-md-10 mb-5 pb-3 matrixDescription accordion">
      <div class="accordion-item">
      </div>
      <h4 class="text-center pb-5"> What is Risk Matrix? </h4>

  <!-- Accordion -->
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How is the graph generated?
              </button>
            </h5>
          </div>
          <div class="collapse show" data-parent="#accordion">
            <div class="card-body justify-content-md-center">
              The Risk Matrix is a visualization of Risk Profiles, with the x-axis representing the impact of the risks on the organization
              on a scale from 1-10, and the y-axis representing the likelihood that a risk will occur on a scale from 1-10.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                How can I use the information presented in the Risk Matrix?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse">
            <div class="card-body">
              The Risk Matrix assists the organization in decision making to better address the identified risks based on the organization's resources.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--<ng-template #profileModal let-modal>-->
<!--  <form class="container">-->

<!--    &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--    <div class="modal-header justify-content-center">-->
<!--      <h2 class="mt-1">Risk Profile</h2>-->
<!--    </div>-->

<!--    &lt;!&ndash; Modal Body &ndash;&gt;-->
<!--    <div class="modal-body row pl-4 pr-4">-->

<!--      &lt;!&ndash; Title &ndash;&gt;-->
<!--      <label for="editTitle" class="labelAndInput">Title</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" disabled class="form-control" id="editTitle" name="editTitle" value="{{ currentModel.title }}" ngModel [(ngModel)]="currentModel.title">-->
<!--      </div>-->

<!--      <label for="editTitle" class="labelAndInput">Likelihood</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" disabled class="form-control" name="likelihood" value="{{ currentModel.likelihood }}" ngModel [(ngModel)]="currentModel.likelihood">-->
<!--      </div>-->

<!--      <label for="editTitle" class="labelAndInput">Impact</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" disabled class="form-control" name="impact" value="{{ currentModel.impact }}" ngModel [(ngModel)]="currentModel.impact">-->
<!--      </div>-->

<!--      <label for="editTitle" class="labelAndInput">Risk Category</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" disabled class="form-control" name="riskCategory" value="{{ currentModel.riskCategory }}" ngModel [(ngModel)]="currentModel.riskCategory">-->
<!--      </div>-->

<!--      <label for="editTitle" class="labelAndInput">Description</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <textarea type="text" disabled class="form-control" name="description" value="{{ currentModel.description }}" ngModel [(ngModel)]="currentModel.description">{{currentModel.description}}</textarea>-->
<!--      </div>-->

<!--      <label for="editTitle" class="labelAndInput">Source of Risk</label>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" disabled class="form-control" name="sourceOfRisk" value="{{ currentModel.sourceOfRisk }}" ngModel [(ngModel)]="currentModel.sourceOfRisk">-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Modal Footer &ndash;&gt;-->
<!--    <div class="modal-footer">-->
<!--      &lt;!&ndash; Buttons: Cancel & Save &ndash;&gt;-->
<!--      <button type="button" class="btn btn-primary" (click)="modal.close('')">Close</button>-->
<!--    </div>-->

<!--  </form>-->

<!--</ng-template>-->
