<div class="container-fluid w-100 mw-100 px-0 m-0">

  <!-- Risk Map Report Navigation Bar -->
  <div class="row riskMapNavigationBar px-2 m-0">
    <div class="col-md-12">
      <div class="row p-0">

        <!-- Title of page user is currently viewing -->
        <div class="col-md-6">
          <h3 class="mt-2 pt-1">Risk Map Report</h3>
        </div>

        <!-- Search Bar -->
        <div class="col-md-6">
          <div class="row justify-content-end">

            <!-- Sort Risk Profiles Dropdown Toggle -->
<!--            <button class="btn btn-outline-primary riskMapSortButton mr-3" type="button" data-toggle="collapse" data-target="#profilesSortDropdown" aria-expanded="false" aria-controls="profilesSortDropdown">Sort Profiles</button>-->

            <!-- Add Risk Profile modal component -->
            <div>
              <app-add-risk-profile
                      addTextName="+ Risk Profile"
                      [addRiskProfile]="riskProfileItem"
                      class="float-right">
              </app-add-risk-profile>
            </div>

            <!-- Search Issues bar -->
            <div class="pr-3">
              <input class="form-control" type="text" placeholder="Search" name="riskProfileMapList">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row p-0 m-0 justify-content-center">
    <div class="col-md-10 my-5">

      <div style=" bdisplay: block">
        <canvas baseChart
                [datasets]="bubbleChartData"
                [options]="bubbleChartOptions"
                [colors]="bubbleChartColors"
                [legend]="bubbleChartLegend"
                [chartType]="bubbleChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>

    </div>
  </div>

</div>
