<div class="row userProfile">

    <!-- User Information -->
    <div class="col-md-4">
        <div class="row text-center">

            <!-- User Profile Picture -->
            <div class="col-md-12 justify-content-center">
                <div class="userProfileImgCon mx-auto mt-5">
                    <img src="assets/img/admin-dash/account.svg" alt="" />
                </div>
            </div>

            <!-- User First & Last Name -->
            <div>

            </div>

            <!-- -->
            <div>

            </div>

        </div>
    </div>

    <!-- Work Assigned to User -->
    <div class="col-md-8 bg-light">
        asd
    </div>

</div>
