.categoriesNavigationBar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #EEEEEE;
}
.categoriesNavigationBar input {
  width: 250px;
  height: 36px;
  margin-top: 11px;
}
.categoriesNavigationBar h3 {
  font-weight: 700;
}
.button {
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.addCategoryMarginAndBorder {
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
#categoryListContainer {
  min-height: 750px;
}
#addCategoryContainer {
  margin-top: 15px;
  margin-bottom: 7px;
}
.cat-group-item{
  padding-right: 0px;
}
.categoriesSortButton {
  height: 36px;
  margin-top: 11px;
  padding-top: 4.5px;
}
  .categoriesSortButton:focus {
    outline: none;
    box-shadow: none;
  }
