<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-admin-nav></app-admin-nav>

            <!-- Admin Dashboard Home Page -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row my-4 p-0 px-3">

                        <!-- LEFT SIDEBAR -->
                        <div class="col-md-3">

                            <!-- Users Overview -->
                            <div class="row adminDashOverviewCon mb-4">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeader">
                                    <h5>Users Overview</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0">
                                    <div class="row p-0 text-center">

                                        <!-- Total Users -->
                                        <div class="col-md-6">
                                            <h2>511</h2>
                                            <h6>Total<br/>Users</h6>
                                        </div>

                                        <!-- New Users Today -->
                                        <div class="col-md-6">
                                            <h2>31</h2>
                                            <h6>Joined<br/>Today</h6>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConFooter">
                                    <a routerLink="/admin-dashboard-users">View all Users</a>
                                </div>

                            </div>

                            <!-- Organizations Overview -->
                            <div class="row adminDashOverviewCon mb-4">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeader">
                                    <h5>Organizations Overview</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0">
                                    <div class="row p-0 text-center">

                                        <!-- Total Organizations -->
                                        <div class="col-md-6">
                                            <h2>35</h2>
                                            <h6>Total<br/>Organizations</h6>
                                        </div>

                                        <!-- New Organizations Today -->
                                        <div class="col-md-6">
                                            <h2>2</h2>
                                            <h6>Joined<br/>Today</h6>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConFooter">
                                    <a routerLink="/admin-dashboard-organizations">View all Organizations</a>
                                </div>

                            </div>

                            <!-- Approval Overview -->
                            <div class="row adminDashOverviewCon">

                                <!-- Header -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConHeader">
                                    <h5>Organizations Overview</h5>
                                </div>

                                <!-- Body -->
                                <div class="col-md-12 py-4 px-0">
                                    <div class="row p-0 text-center">

                                        <!-- Total Organizations -->
                                        <div class="col-md-6">
                                            <h2>35</h2>
                                            <h6>Total<br/>Organizations</h6>
                                        </div>

                                        <!-- New Organizations Today -->
                                        <div class="col-md-6">
                                            <h2>2</h2>
                                            <h6>Joined<br/>Today</h6>
                                        </div>

                                    </div>
                                </div>

                                <!-- Footer -->
                                <div class="col-md-12 pt-2 pb-1 adminDashOverviewConFooter">
                                    <a routerLink="/admin-dashboard-organizations">View all Organizations</a>
                                </div>

                            </div>

                        </div>

                        <!-- RIGHT SIDEBAR -->
                        <div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
