<div class="container-fluid w-100 mw-100 p-0 m-0 teamCon mb-5 pb-5">

    <div class="row p-0 pt-3 m-0 justify-content-center">
        <!-- Page Title -->
        <div class="col-md-11">
            <h1 class="mt-5 mb-3">The Team behind Riski</h1>
        </div>
        <!-- Team Links -->
        <div class="col-md-11">
            <h5><a routerLink="/team-winter-2021" routerLink="/team-fall-2020">Summer 2021</a> &nbsp; /&nbsp; </h5>
        </div>
    </div>

    <!--  -->
    <div class="row p-0 pt-5 m-0 justify-content-center">
        <div class="col-md-11">z
            <div class="row pt-1">

                <!-- Team Members -->
                <div class="col-md-5">
                    <h2 class="mb-3">Members</h2>
                    <p>Ryan Alcorn - Team Leader & Developer</p>
                    <p>Alex Furlotte - Team Co-Leader & Developer</p>
                    <p>Clarizze Santos - Developer</p>
                    <p>Ryan Mclnroy - Developer</p>
                    <p>Vrund Patel  - Developer</p>

                    <br /><br />

                    <h2 class="mb-3">Development Goals</h2>
                    <p> In Progress </p>

                </div>



            </div>
        </div>
    </div>

</div>
