<div class="container-fluid w-100 mw-100 p-0 m-0 teamCon mb-5 pb-5">

    <div class="row p-0 pt-3 m-0 justify-content-center">

        <!-- Page Title -->
        <div class="col-md-11">
            <h1 class="mt-5 mb-3">The Team behind Riski</h1>
        </div>

        <!-- Team Links -->
        <div class="col-md-11">
            <h5><a routerLink="/team-fall-2020">Fall 2020</a> &nbsp;/&nbsp; <a routerLink="/team-winter-2021"> Winter 2021 </a> &nbsp;/&nbsp; Summer 2021</h5>
        </div>

    </div>

    <!--  -->
    <div class="row p-0 pt-5 m-0 justify-content-center">
        <div class="col-md-11">
            <div class="row pt-1">

                <!-- Team Members -->
                <div class="col-md-5">
                    <h2 class="mb-3">Members</h2>
                    <p>Ryan Alcorn- Team Leader & Developer</p>
                    <p>Alex Furlotte - Team Co-Leader & Developer</p>
                    <p>Ryan Mclnory - Developer</p>
                    <p>Clarizze France Santos - Developer</p>
                    <p>Vrund Patel - Developer</p>

                    <br /><br />

                    <h2 class="mb-3">Development Goals</h2>
                    <p>Responsive Web Design</p>
                    <p>Advance Risk Profile Compenents</p>
                    <p>Detailed Risk Map Report</p>
                    <p>Improved Landing Page</p>
                </div>

                <!--  
                                "Team Tasks"  ---- This is a commnent
                                <div class="col-md-7 px-5">
                                    "Landing Page"   ------  This is a comment
                                    <h2 class="mb-3 pb-2">Dashboard Page</h2>
                                    <img class="w-100" src="assets/img/landing/f20-dash.jpg" />
                                    <p class="px-4 mt-4 text-center">At the end of the Summer 2021 Semester, we managed to build a beautiful website with functional back-end code that was able to create, remove, update and display data dynamically. However, we were unable to complete a landing page for users who have not yet logged in or registered. </p>
                
                                    "Profile Page"  ------  This is a comment
                                    <h2 class="mt-5 mb-3 pt-5 pb-2">Profile Page</h2>
                                    <img class="w-100 pb-2" src="assets/img/landing/f20-profile.png" />
                                    <p class="px-4 mt-4 text-center">The Risk Profiles page is a great example of what happens when back-end code meets front-end design. Dynamically displayed data and custom colour-codes to visually represent the level of risk each profile contains.</p>
                                </div>
            -->


            </div>
        </div>
    </div>

</div>