<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- Risk Profile ID -->
    <div class="col-1">
        <p class="p-0 mt-md-1 mb-0">0001</p>
    </div>

    <!-- Risk Profile Name -->
    <div class="col-5 text-left">
        <p class="p-0 mt-md-1 mb-0 pl-1">Name of Risk Profile</p>
    </div>

    <!-- Creator of Risk Profile -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">John Smith</p>
    </div>

    <!-- Date Risk Profile was Created -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">March 5th 2021</p>
    </div>

    <!-- Associated Risk Category for Risk Profile -->
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">Financial</p>
    </div>

</div>
