<!-- About Page - Details of what Riski is -->
<div class="container-fluid w-100 mw-100 p-0 m-0 aboutCon pb-sm-5 pb-md-0">
    <div class="row p-0 pt-5 m-0 justify-content-center text-center">
        <div class="col-md-8 pt-5">

            <h1 class="mt-5 mb-5">
                About Us
            </h1>

            <p class="px-4 mb-3">
                Riski is a Risk Management web application currently being developed at Dalhousie University. During its two Semesters of development the platform has seen major changes, from initial project set up to connecting to and displaying information retrieved from its firestore database in a long list of unique front-end components.
            </p>

            <p class="px-5 mb-3">
                With the end in sight, future development of Riski will aim to increase the visual appeal of the platform while also increasing the efficiency of backend processes and maintaining reliability to ensure Riski users continue to have the best experience possible.
            </p>

            <p>
                Click <a routerLink="/team-winter-2021">here</a> to see the teams developing Riski.
            </p>

        </div>
    </div>
</div>
