<ng-template #addPolicyContent let-modal>

    <form (ngSubmit)="OnAdd()">

        <div class="modal-header justify-content-center">
            <h2 class="mt-1">Add Policy</h2>
        </div>

        <div class="modal-body row pl-4 pr-4">

            <!-- Title -->
            <label for="policyTitle" class="labelAndInput">Title</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="policyTitle" name="policyTitle" ngModel>
            </div>

            <!-- Description -->
            <label for="policyDescription" class="labelAndInput">Description</label>
            <div class="input-group mb-3">
                <textarea class="form-control" id="policyDescription" name="policyDescription" ngModel></textarea>
            </div>

            <!-- Risk Category -->
            <label for="addRiskCategory" class="labelAndInput">Risk Category</label>
            <div class="input-group mb-3">
                <select
                        class="form-control"
                        id="addRiskCategory"
                        name="addRiskCategory"
                        ngModel [(ngModel)]="this.selectedRiskModels"
                >
                    <option selected value="">Risk Profiles</option>

                    <option *ngFor="let risk of riskService.riskProfiles" [value]=risk.title>
                        {{ risk.title }}
                    </option>

                </select>
            </div>

        </div>

        <!-- Buttons: Cancel & Save -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary">Add Issue</button>
        </div>

    </form>

</ng-template>

<button type="button" class="btn btn-outline-success mr-3 issuesNavigationBarButton" (click)="open(addPolicyContent)">+ Policy</button>
