<ng-template #addIssueContent let-modal>

    <form (ngSubmit)="OnAdd()">

        <div class="modal-header justify-content-center">
            <h2 class="mt-1">Add Issue</h2>
        </div>

        <div class="modal-body row pl-4 pr-4">

            <!-- Title -->
            <label for="addTitle" class="labelAndInput">Title</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="addTitle" name="addTitle" ngModel [(ngModel)]="issue.title">
            </div>

            <!-- Risk Category -->
            <label for="addRiskCategory" class="labelAndInput">Risk Category</label>
            <div class="input-group mb-3">
                <select
                        class="form-control"
                        id="addRiskCategory"
                        name="addRiskCategory"
                        ngModel [(ngModel)]="issue.riskCategory"
                >
                    <option selected value="">Category</option>

                    <option *ngFor="let item of categoryService.categories" [value]=item.name>
                        {{ item.name }}
                    </option>

                </select>
            </div>

            <!-- Parent Issue -->
            <label for="addParentIssue" class="labelAndInput">Parent Issue</label>
            <div class="input-group mb-3">
                <select
                        class="form-control"
                        id="addParentIssue"
                        name="addParentIssue"
                        ngModel [(ngModel)]="issue.parentIssue"
                >
                    <option selected value="0">None</option>

                    <option *ngFor="let item of issueService.issues" [value]=item.id>
                        {{ item.title }}
                    </option>

                </select>
            </div>

            <!-- Add Assignee -->
            <label for="addAssignee" class="labelAndInput">Assignee ID</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="addAssignee" name="addAssignee" ngModel [(ngModel)]="issue.assignee">
            </div>

            <!-- Description -->
            <label for="addDescription" class="labelAndInput">Description</label>
            <div class="input-group mb-1">
                <textarea class="form-control" id="addDescription" name="addDescription" ngModel [(ngModel)]="issue.description"></textarea>
            </div>

        </div>

        <!-- Buttons: Cancel & Save -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary">Add Issue</button>
        </div>

    </form>

</ng-template>

<button type="button" class="btn btn-outline-success mr-3" (click)="open(addIssueContent)">{{ addTextName }}</button>
