<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- Risk Category ID -->
    <div class="col-1">
        <p class="p-0 mt-md-1 mb-0">0001</p>
    </div>

    <!-- Risk Category Name -->
    <div class="col-5 text-left">
        <p class="p-0 mt-md-1 mb-0 pl-1">Name of Risk Category</p>
    </div>

    <!-- Risk Category Creator -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">John Smith</p>
    </div>

    <!-- Risk Category Creation Date -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">March 5th 2021</p>
    </div>

    <!-- Parent Category of Risk Category -->
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">Financial</p>
    </div>

</div>
