/* Thanks to Dayze for this very simple and effective solution to center text in the doughnut chart
 * https://stackoverflow.com/questions/20966817/how-to-add-text-inside-the-doughnut-chart-using-chart-js
 */
p {
  font-size:1.65rem;
  margin-bottom: 0;
}

#totalTasks {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%)
}
