<!-- New Category Item -->
<div class="row categoryItemContainer">
    <div class="col-md-12">

        <!-- Category Item Heading -->
        <div class="row">
            <!-- Category Name -->
            <div class="col-md-12 pt-2 pb-1 categoryItemHeading">
                <h5>{{categoryItem.name}}</h5>
            </div>
        </div>

        <!-- Category Item Body -->
        <div class="row py-2 categoryItemBody">

            <!-- Category Parent -->
            <div class="col-md-12">
                Parent: {{categoryItem.getParentName()}}
            </div>

            <!-- Category Description -->
            <div class="col-md-12">
                Description:<br /> {{categoryItem.description}}
            </div>

        </div>

        <!-- Category Item Footer -->
        <div class="row">
            <div class="col-md-12 pt-2 pb-1 categoryItemFooting">

                <!-- Edit Category modal component -->
                <app-edit-category
                        editTextName="Edit"
                        [editCategory]='categoryItem'
                        editModalID="{{categoryItem.id}}"
                        editModalName="{{ categoryItem.name }}"
                        editParentCategory="{{ categoryItem.parentCategory }}"
                        editModalDescription="{{ categoryItem.description }}"
                        class="float-right">
                </app-edit-category>

                <!-- Delete Link -->
                <a class="float-right mr-3" (click)="onDeleteCategory()">Delete</a>

            </div>
        </div>

    </div>
</div>
