<div class="container-fluid w-100 mw-100 p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-0 m-0">

            <!-- Admin Dashboard Navigation Bar -->
            <app-admin-nav></app-admin-nav>

            <!-- User Information Headings -->
            <div class="row px-0 m-0">
                <div class="col-md-12">
                    <div class="row border-bottom mt-4 p-0">

                        <!-- Users ID -->
                        <div class="col-2">
                            <h6 class="text-center">ID</h6>
                        </div>

                        <!-- Users First Name -->
                        <div class="col-2">
                            <h6 class="text-center">First Name</h6>
                        </div>

                        <!-- Users Last Name -->
                        <div class="col-2">
                            <h6 class="text-center">Last Name</h6>
                        </div>

                        <!-- # of Organizations -->
                        <div class="col-2">
                            <h6 class="text-center"># of Orgs.</h6>
                        </div>

                        <!-- Tasks Created -->
                        <div class="col-2">
                            <h6 class="text-center">Tasks Created</h6>
                        </div>

                        <!-- Tasks Completed -->
                        <div class="col-2">
                            <h6 class="text-center">Tasks Completed</h6>
                        </div>

                    </div>

                    <!-- User Items -->
                    <div class="row mb-3 userItemsCon">
                        <div class="col-md-12 p-0 m-0">
                            <app-user-list-item></app-user-list-item>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
