<!-- Dashboard -->
<div id="dashboardContainer" class="container-fluid pt-md-3 pb-md-3 pl-md-4 pr-md-4">

  <!-- Task Summary Widget -->
  <app-chart-summary></app-chart-summary>

  <!-- Page Widgets Container -->
  <div class="row pt-md-4">

    <!-- Category Widget -->
    <div class="col-md-3">
      <app-category-widget></app-category-widget>
    </div>

    <!-- Profile Widget -->
    <div class="col-md-3">
      <app-profile-widget></app-profile-widget>
    </div>

    <!-- Issue Widget -->
    <div class="col-md-3">
      <app-issue-widget></app-issue-widget>
    </div>

    <!-- Risk Widget -->
    <div class="col-md-3">
      <app-task-widget></app-task-widget>
    </div>

  </div>

</div>
