<!-- Dashboard -->
<div id="dashboardContainer" class="container-fluid pt-md-3 pb-md-3 pl-md-4 pr-md-4">

  <app-chart-summary></app-chart-summary>
  <!-- row -->

  <!-- Page Widgets Container -->
  <div class="row pt-md-4">

    <!-- Category -->
    <div class="col-md-3">
      <app-category-widget></app-category-widget>
    </div>

    <!-- Profile -->
    <div class="col-md-3">
      <app-profile-widget></app-profile-widget>
    </div>

    <!-- Issue -->
    <div class="col-md-3">
      <app-issue-widget></app-issue-widget>
    </div>

    <!-- Risk -->
    <div class="col-md-3">
      <app-task-widget></app-task-widget>
    </div>

  </div>

</div>
