<!-- Forgot Password Container -->
<div class="container-fluid">
    <div class="container">

        <!--  -->
        <div class="row justify-content-center">
            <div class="col-md-10" id="forgotPasswordContainer">
                <div class="row h-100">

                    <!-- -->
                    <div class="col-md-6 border-right">
                        <img src="assets/img/forgot_password.svg" alt="" class="d-inline-block align-top forgotPasswordImage" />
                    </div>

                    <!-- -->
                    <div class="col-md-6">
                        <div class="row justify-content-center">

                            <!-- Title -->
                            <div class="col-md-12 pt-4 pb-2 text-center">
                                <h1>Forgot Password</h1>
                            </div>

                            <!-- Email -->
                            <div class="col-md-8 mt-5 pt-2 pb-2">

                                <div *ngIf="requestedReset" class="col-md-12 text-center">
                                    <p class="text-info">A password reset email has been sent to <b>{{this.resetEmail.value}}</b>!
                                        Please note that it may take a few minutes to arrive.</p>
                                </div>

                                <label for="resetEmail" class="float-left">Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" id="resetEmail" name="resetEmail" [formControl]="resetEmail">
                                </div>

                            </div>

                            <!--  -->
                            <div class="col-md-8 pt-2 pb-5 text-center">

                                <button type="submit" class="btn btn-primary px-5 py-2" (click)="onSubmit()">Reset Password</button>

                            </div>

                            <!-- -->
                            <div class="col-md-12 pt-2 pb-2 text-center">
                                <a routerLink="/login">Back to login</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
