<ng-template #editContent let-modal>

  <form (ngSubmit)="OnEdit()">

    <!-- Modal Header -->
    <div class="modal-header justify-content-center">
      <h2 class="mt-1">Edit Issue</h2>
    </div>

    <!-- Modal Body -->
    <div class="modal-body row pl-4 pr-4">

      <!-- Title -->
      <label for="editTitle" class="labelAndInput">Title</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="editTitle" name="editTitle" value="{{ editModalTitle }}" ngModel [(ngModel)]="issue.title">
      </div>

      <!-- Risk Category -->
      <label for="editRiskCategory" class="labelAndInput">Risk Category</label>
      <div class="input-group mb-3">
        <select
          class="form-control"
          id="editRiskCategory"
          name="editRiskCategory"
          ngModel [(ngModel)]="issue.riskCategory"
        >
          <option selected value="">Category</option>

          <option *ngFor="let item of categoryService.categories" [value]=item.name>
            {{ item.name }}
          </option>

        </select>
      </div>

      <!-- Parent Issue -->
      <label for="addParentIssue" class="labelAndInput">Parent Issue</label>
      <div class="input-group mb-3">
        <select
          class="form-control"
          id="addParentIssue"
          name="addParentIssue"
          ngModel [(ngModel)]="issue.parentIssue"
        >
          <option selected value="0">None</option>

          <option *ngFor="let item of issueService.issues" [value]=item.id>
            {{ item.title }}
          </option>

        </select>
      </div>

      <!-- Add Assignee -->
      <label for="editAssignee" class="labelAndInput">Reviewed By</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="editAssignee" name="editAssignee" ngModel [(ngModel)]="issue.assignee">
      </div>

      <!-- Description -->
      <label for="editDescription" class="labelAndInput">Description</label>
      <div class="input-group mb-1">
        <textarea class="form-control" id="editDescription" name="editDescription" ngModel [(ngModel)]="issue.description">{{ editModalDescription }}</textarea>
      </div>

    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <!-- Buttons: Cancel & Save -->
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary">Save Changes</button>
    </div>

  </form>

</ng-template>

<a class="float-right" (click)="open(editContent)">{{ editTextName }}</a>
