<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- ID -->
<!--    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">00000001</p>
    </div>-->

    <!-- First Name -->
    <div class="col-6">
        <p class="p-0 mt-md-1 mb-0">{{this.user.firstName}}</p>
    </div>

    <!-- Last Name -->
<!--    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Smith</p>
    </div>-->

    <!-- # of Organizations user is in -->
    <div class="col-6">
        <p class="p-0 mt-md-1 mb-0">{{this.totalOrgs}}</p>
    </div>

    <!-- Total Tasks Created by User -->
<!--    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">32</p>
    </div>

    &lt;!&ndash; Total Tasks Completed by User &ndash;&gt;
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">29</p>
    </div>-->

</div>
