<div class="border-bottom p-1">
    <div class="row text-center py-2">
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">00000001</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">John</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Smith</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">1</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">32</p>
        </div>
        <div class="col-2 text-center">
            <p class="p-0 mt-md-1 mb-0">29</p>
        </div>
    </div>
</div>
