<!-- Category Widget Container -->
<div class="container-fluid widgetBorderRadius">

  <!-- Widget Header -->
  <div class="row widgetHeader">
    <div class="col-md-12">
      <h6>Categories</h6>
    </div>
  </div>

  <!-- Body -->
  <div class="row pt-md-3 pb-md-3">

    <!-- Financial Risk Categories -->
    <div class="col-xs-6 col-sm-6 col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Financial items -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{getFinancialCount(1)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Financial</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Strategic Risk Categories -->
    <div class="col-xs-6 col-sm-6 col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Strategic items -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{getStrategicCount(2)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Strategic</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Hazard Risk Categories -->
    <div class="col-xs-6 col-sm-6 col-md-3 widgetBody">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <!-- # of Hazard items -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{getHazardCount(3)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Hazard</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Operational Risk Categories -->
    <div class="col-xs-6 col-sm-6 col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!-- # of Operational items -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>
                {{getOperationalCount(4)}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Opertnl.</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Widget Footer -->
  <div class="row pt-xs-2 pt-sm-2 pt-md-2 widgetFooter">
    <div class="col-md-12">

      <div class="float-left">
        <a class="widgetCategoryFooterText" routerLink="/categories">
          View Categories
        </a>
      </div>

      <div class="float-right">
        <p><b>&#62;</b></p>
      </div>

    </div>
  </div>

</div>
