<!-- Category Widget Container -->
<div class="container-fluid widgetBorderRadius">

  <!-- Header -->
  <div class="row pt-md-2 widgetHeader">
    <div class="col-md-12">
      <h6>Categories</h6>
    </div>
  </div>

  <!-- Body -->
  <div class="row pt-md-3 pb-md-3">

    <!-- Body Column 1 -->
    <div class="col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getFinancialCount(1)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Financial</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Body Column 2 -->
    <div class="col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getStrategicCount(2)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Strategic</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Body Column 3 -->
    <div class="col-md-3 widgetBody">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getHazardCount(3)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Hazard</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Body Column 4 -->
    <div class="col-md-3 widgetBody">
      <div class="row">
        <div class="col-md-12">

          <!--  -->
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{{getOperationalCount(4)}}</h3>
            </div>
          </div>

          <!-- -->
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="categoryWidgetDescriptionText">Opertnl.</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="row pt-md-2 widgetFooter">
    <!-- -->
    <div class="col-md-12">

      <!-- -->
      <div class="float-left">
        <a routerLink="/categories">View Categories</a>
      </div>

      <!-- -->
      <div class="float-right">
        <p><b>&#62;</b></p>
      </div>

    </div>
  </div>

</div>
