<p>edit-treatment-plan works!</p>

<ng-template #editTreatmentPlanContent let-modal>

    <form [formGroup]="newTreatmentPLanForm" (ngSubmit)="editTreatmentPlan()">

        <div class="modal-header justify-content-center">
            <h2 class="mt-1">Edit an Existing Task</h2>
        </div>

        <div class="modal-body row pl-4 pr-4">

            <!-- Title -->
            <label class="labelAndInput">Title</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="taskTitle" placeholder="Enter Title...">
            </div>

            <!-- Risk Category -->
            <label for="createdBy" class="labelAndInput">Assignee</label>
            <div class="input-group mb-3">
                <select class="form-control" id="createdBy" name="createdBy" formControlName="createdBy" [ngModel]="currentModel.createdBy">
                    <option *ngFor="let user of userService.categories" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
                </select>
            </div>

            <!-- Parent Issue -->
            <label class="labelAndInput">Status</label>
            <div class="input-group mb-3">
                <select class="form-control" id="taskStatus" name="taskStatus" formControlName="taskStatus">
                    <option value="In Progress" [defaultSelected]="true">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>

            <!-- Add Assignee -->
            <label class="labelAndInput">Due Date</label>
            <div class="input-group mb-3">
                <input type="date" class="form-control" formControlName="taskDueDate" placeholder="Enter Due Date...">
            </div>

        </div>

        <!-- Buttons: Cancel & Save -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </div>

    </form>

</ng-template>

<button *ngIf="frontPageDisplay" type="button" class="btn btn-outline-success mr-3" (click)="open(editTreatmentPlanContent)">Edit</button>
<a *ngIf="!frontPageDisplay" class="float-right" (click)="open(editTreatmentPlanContent)">Edit</a>
