<ng-template #editTaskContent let-modal>

    <form [formGroup]="newTreatmentPlanForm" (ngSubmit)="editTreatmentPlan()">

        <div class="modal-header justify-content-center">
            <h2 class="mt-1">Edit an Existing Task</h2>
        </div>

        <div class="modal-body row pl-4 pr-4">

            <!-- Title -->
            <label class="labelAndInput">Title</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="taskTitle" placeholder="Enter Title...">
            </div>

        </div>

        <!-- Buttons: Cancel & Save -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </div>

    </form>

</ng-template>

<button  type="button" class="btn btn-outline-success mr-3" (click)="open(editTaskContent)">Edit</button>
