<div class="container-fluid w-100 mw-100 p-0 m-0 teamCon mb-5 pb-5">

    <div class="row p-0 pt-3 m-0 justify-content-center">
        <!-- Page Title -->
        <div class="col-md-11">
            <h1 class="mt-5 mb-3">The Team behind Riski</h1>
        </div>
        <!-- Team Links -->
        <div class="col-md-11">
            <h5>Fall 2020 &nbsp;/&nbsp; <a routerLink="/team-winter-2021"> Winter 2021 </a> &nbsp;/&nbsp;
                <a routerLink="/team-summer-2021">  Summer 2021</a> </h5>
        </div>
    </div>

    <!--  -->
    <div class="row p-0 pt-5 m-0 justify-content-center">
        <div class="col-md-11">
            <div class="row pt-1">

                <!-- Team Members -->
                <div class="col-md-5">
                    <h2 class="mb-3">Members</h2>
                    <p>James McNutt -  Team Leader & Developer</p>
                    <p>Renayre Forbes - Team Leader & Developer</p>
                    <p>Donovon Bussey - Team Leader & Developer</p>
                    <p>Bryson Sullivan-Farrell - Developer</p>
                    <p>Benjamin Rutayisire - Developer</p>
                    <p>Christina Cheung - Developer</p>
                    <p>Ashokkumar Raja - Developer</p>
                    <p>Kanak Prajapati - Developer</p>
                    <p>Ryan Campbell - Developer</p>
                    <p>Fred Winters - Developer</p>
                    <p>Jason Nguyen - Developer</p>
                    <p>Pranav Goyal - Developer</p>
                    <p>Ryan Alcorn - Developer</p>
                    <p>Deep Dave - Developer</p>

                    <br /><br />

                    <h2 class="mb-3">Development Goals</h2>
                    <p>Risk Categories Model & Service</p>
                    <p>Risk Profile Model & Service</p>
                    <p>Risk Issue Model & Service</p>
                    <p>Task Model & Service</p>
                    <p>Treatment Plan & Surveys</p>
                    <p>Design Consistency</p>
                </div>

                <!-- Team Tasks -->
                <div class="col-md-7 px-5">
                    <!-- Landing Page -->
                    <h2 class="mb-3 pb-2">Dashboard Page</h2>
                    <img class="w-100" src="assets/img/landing/f20-dash.jpg" />
                    <p class="px-4 mt-4 text-center">At the end of the Fall 2020 Semester, we managed to build a beautiful website with functional back-end code that was able to create, remove, update and display data dynamically. However, we were unable to complete a landing page for users who have not yet logged in or registered. </p>

                    <!-- Profile Page -->
                    <h2 class="mt-5 mb-3 pt-5 pb-2">Profile Page</h2>
                    <img class="w-100 pb-2" src="assets/img/landing/f20-profile.png" />
                    <p class="px-4 mt-4 text-center">The Risk Profiles page is a great example of what happens when back-end code meets front-end design. Dynamically displayed data and custom colour-codes to visually represent the level of risk each profile contains.</p>
                </div>

            </div>
        </div>
    </div>

</div>
