<!-- Admin Dashboard Navigation Bar -->
<div class="row adminDashboardNavigationBar px-2 m-0">
    <div class="col-md-12 p-0 m-0">
        <div class="row p-0 m-0">

            <!-- Title of Current Page -->
            <div class="col-md-6">
                <h3 class="mt-2 pt-1">Admin Dashboard</h3>
            </div>

            <!-- Search Bar -->
            <div class="col-md-6">
                <div class="row justify-content-end">

                    <!-- Link to Users List -->
                    <div class="">
                        <a class="btn btn-outline-primary" routerLink="/admin-dashboard">User list</a>
                    </div>

                    <!-- Organization List -->
                    <div class="ml-3">
                        <a class="btn btn-outline-primary" routerLink="/admin-dashboard-orgs">Organization List</a>
                    </div>

                    <!-- Search Users bar -->
                    <div class="pr-3 ml-3">
                        <input class="form-control" type="text" placeholder="Search users" name="adminUserList">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
