<div class="row adminDashNavigationBar pl-2">

    <!-- Left Side - Navigation -->
    <div class="col-md-2">
        <div class="row h-100 adminComponentNav">

            <!-- Admin Dashboard Home Link -->
            <div class="col-md-3 text-center">
                <img src="assets/img/admin-dash/home.svg" alt="" />
            </div>

            <!-- Admin Dashboard Account Link -->
            <div class="col-md-3 text-center">
                <img src="assets/img/admin-dash/account.svg" alt="" />
            </div>

            <!-- Admin Dashboard Organization Link -->
            <div class="col-md-3 text-center">
                <img src="assets/img/admin-dash/organization.svg" alt="" />
            </div>

            <!-- Admin Dashboard Users Link -->
            <div class="col-md-3 text-center">
                <img src="assets/img/admin-dash/users.svg" alt="" />
            </div>

        </div>
    </div>

    <!-- Right Side - Content -->
    <div class="col-md-10">
        <div class="row">

            <!-- Title of component component admin is currently viewing -->
            <div class="col-md-6">
                <h5 class="mt-2 pt-2 pl-3">Admin Dashboard</h5>
            </div>

            <!-- Search Bar -->
            <div class="col-md-6">
                <input class="form-control float-right mr-2 adminDash-SearchBar" type="text" placeholder="Search" value="Search">
            </div>

        </div>
    </div>

</div>
