<div class="border-bottom p-1">
    <div class="row text-center py-2">
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Company 1</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">16</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Gold</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">18 days</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">501</p>
        </div>
        <div class="col-2 text-center">
            <p class="p-0 mt-md-1 mb-0">333</p>
        </div>
    </div>
</div>

<div class="border-bottom p-1">
    <div class="row text-center py-2">
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Company 2</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">16</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Gold</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">18 days</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">501</p>
        </div>
        <div class="col-2 text-center">
            <p class="p-0 mt-md-1 mb-0">333</p>
        </div>
    </div>
</div>

<div class="border-bottom p-1">
    <div class="row text-center py-2">
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Company 3</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">16</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">Gold</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">18 days</p>
        </div>
        <div class="col-2">
            <p class="p-0 mt-md-1 mb-0">501</p>
        </div>
        <div class="col-2 text-center">
            <p class="p-0 mt-md-1 mb-0">333</p>
        </div>
    </div>
</div>
