<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- Organization Name -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Company 1</p>
    </div>

    <!-- # of Employees at this Organization -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">16</p>
    </div>

    <!-- Organization Subscription Type -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">Gold</p>
    </div>

    <!-- Organization remaining days of Subscription -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">18 days</p>
    </div>

    <!-- # of Tasks created by Organization -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">501</p>
    </div>

    <!-- # of Tasks completed by Organization -->
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">333</p>
    </div>

</div>
