<!-- Login Page -->
<div class="container-fluid registerPageCon">
    <div class="container">
        <!-- Login Container -->
        <div class="row">
            <div class="col-sm-12" id="registerContainer">
                <div class="row h-100">

                    <!-- Image -->
                    <div class="col-sm-12 col-md-6">
                        <img src="assets/img/signup.svg" alt="" class="d-inline-block align-top registerImage" />
                    </div>

                    <!-- Login Form -->
                    <div class="col-sm-12 col-md-6 pb-sm-4">
                        <div class="row justify-content-center">

                            <!-- Title -->
                            <div class="col-sm-12 pt-4 text-center">
                                <h1>Register</h1>
                            </div>

                            <!-- Email -->
                            <div class="col-sm-8 mt-4 pt-1 pb-1">

                                <div class="col-sm-12" *ngIf="!providedEmail">
                                    <p class="text-danger">You must enter an e-mail address.</p>
                                </div>

                                <label for="registerEmail" class="float-left">Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" id="registerEmail" name="registerEmail" [formControl]="registerEmail">
                                </div>

                            </div>

                            <!-- User's Name -->
                            <div class="col-sm-8 pt-1 pb-1">

                                <!-- Error message if user does not enter a name -->
                                <div class="col-sm-12" *ngIf="!providedName">
                                    <p class="text-danger">You must enter your name.</p>
                                </div>

                                <label for="userName" class="float-left">Full Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="userName" name="userName" [formControl]="userName">
                                </div>

                            </div>

                            <!-- Password -->
                            <div class="col-sm-8 pt-1 pb-1">

                                <!-- Error message if user does not enter a password -->
                                <div class="col-sm-12" *ngIf="!passwordMatch">
                                    <p class="text-danger">Passwords do not match.</p>
                                </div>

                                <label for="registerPassword" class="float-left">Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="registerPassword" name="registerPassword" [formControl]="registerPassword">
                                </div>

                            </div>

                            <!-- Confirm Password -->
                            <div class="col-sm-8 pt-1 pb-1">

                                <label for="registerConfirmPassword" class="float-left">Confirm Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="registerConfirmPassword" name="registerConfirmPassword" [formControl]="registerConfirmPassword">
                                </div>

                            </div>

                            <!-- Organization Name -->
                            <div class="col-sm-8 pt-1 pb-1">

                                <!-- Error message if user does not enter an Organization Name -->
                                <div class="col-md-12" *ngIf="!providedVerify">
                                    <p class="text-danger">You must enter an organization name.</p>
                                </div>

                                <label for="registerVerifyCode" class="float-left">Organization Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="registerVerifyCode" name="registerVerifyCode" [formControl]="registerVerifyCode">
                                </div>

                            </div>


                            <!-- Register Button -->
                            <div class="col-sm-8 pt-2 pb-4 text-center">
                                <button type="submit" class="btn btn-primary px-5 py-2" (click)="onSubmit()">Register</button>
                            </div>

                            <!-- Link to Login Page -->
                            <div class="col-sm-12 text-center">
                                <a routerLink="/login">Already signed up? Log in!</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
