.registerPageCon {
    min-height: calc(100vh - 60px);
    padding-top: 15px;
    padding-bottom: 15px;
    nackground-color: black;
}
#registerContainer {
    width: 100%;
    min-height: 700px;
    max-height: auto;
    margin-top: calc((100vh - 790px) / 2);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #EEEEEE;
}
.registerImage {
    width: 70%;
    margin-left: 15%;
    margin-top: 45%;
}
