<div class="container-fluid w-100 mw-100 px-0 m-0">

    <!-- Treatment Plans Navigation Bar -->
    <div class="row treatmentPlanNavigationBar px-2 m-0">
        <div class="col-md-12">
            <div class="row p-0">

                <!-- Title of Current Page -->
                <div class="col-md-6">
                    <h3 class="mt-2 pt-1">Treatment Plans</h3>
                </div>

                <!-- Search Bar -->
                <div class="col-md-6">
                    <div class="row justify-content-end">

                        <!-- Add Treatment Plan modal component -->
                        <!-- Need to create an add-treatment-plan component -->
                        <div>
                            <app-add-treatment-plan
                                    addTextName="+ Treatment Plan"
                                    class="float-right">
                            </app-add-treatment-plan>
                        </div>

                        <!-- Search Treatment Plans bar -->
                        <div class="pr-3">
                            <input class="form-control" type="text" placeholder="Search treatment plans" name="treatmentPlans" [(ngModel)]="TreatmentPlanSearchText" value="Search">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row m-0">
        <!-- Treatment Plan Display -->
        <div class="col-md-3 treatmentPlan_LeftSidebar overflow-auto">
                <!-- Treatment Plan needs to appear below/with each item -->
                <app-treatment-plan-item *ngFor="let plan of this.treatmentPlanService.treatmentPlans | filter: TreatmentPlanSearchText" [treatmentPlanItem]="plan"></app-treatment-plan-item>
            <!-- basic placeholder - testing functionality -->

        </div>
        <!-- Treatment Plan List -->
        <div *ngIf="treatmentPlanService.currentlySelectedPlan" class="col-md-9">
            <div >
                <!-- Treatment Plan List -->
                <h2>
                    Treatment Plan: {{treatmentPlanService.currentlySelectedPlan.title}}<br/>
                    Risk Profile: {{treatmentPlanService.currentlySelectedPlan.riskProfile.title}}
                </h2>
                <!-- Treatment Plan Specific Display -->
                <div class="col-md-3">
                    Id: {{treatmentPlanService.currentlySelectedPlan.riskProfile.id}} <br>
                    Description: {{treatmentPlanService.currentlySelectedPlan.riskProfile.description}}<br>
                    Level of Risk: {{treatmentPlanService.currentlySelectedPlan.riskProfile.levelOfRisk}}
                </div>
            </div>
        </div>
    </div>


</div>
