
<!-- Treatment Plan + Risk Profile here -->
<!-- Content Container -->
<div id="riskProfileContainer" class="container-fluid">

    <!-- Body Header Container -->
    <div class="row justify-content-center addRiskProfileMarginAndBorder">
        <!-- Title / Add new Issue Container -->
        <div class="row">
            <!-- Page Title -->
            <div class="col-md-7">
                <h2>Treatment Plans</h2>
            </div>
        </div>
    </div>
    <!-- Treatment Plan needs to appear below/with each item -->
    <app-treatment-plan-item *ngFor="let item of treatmentPlans"></app-treatment-plan-item>
</div>
