<!-- Treatment Plan + Risk Profile here -->
<!-- Content Container -->
<div id="riskProfileContainer" class="container-fluid">

    <!-- Body Header Container -->
    <div class="row justify-content-center addRiskProfileMarginAndBorder">
        <!-- Title / Add new Treatment Plan Container -->
        <div class="row">
            <!-- Page Title -->
            <div class="col-md-7">
                <h2>Treatment Plans</h2>
            </div>
            <!-- Search Treatment Plan Container -->
            <div class="col-md-5">

                <!-- Search Treatment Plans bar -->
                <div class="form-inline float-right">
                    <input class="form-control" type="text" placeholder="Search" name="treatmentPlans" [(ngModel)]="TreatmentPlanSearchText" value="Search">
                </div>

                <!-- Add Treatment Plan -->

            </div>
        </div>
    </div>

    <!-- Treatment Plan needs to appear below/with each item -->
    <app-treatment-plan-item *ngFor="let item of treatmentPlans | filter: TreatmentPlanSearchText"></app-treatment-plan-item>
</div>
