<div class="row text-center border-bottom px-0 py-3 m-0">

    <!-- ID -->
    <div class="col-1">
        <p class="p-0 mt-md-1 mb-0">0001</p>
    </div>

    <!-- First Name -->
    <div class="col-3 text-left">
        <p class="p-0 mt-md-1 mb-0 pl-1">{{user.firstName}}</p>
    </div>

    <!-- Last Name -->
    <div class="col-2 text-left">
        <p class="p-0 mt-md-1 mb-0">{{user.lastName}}</p>
    </div>

    <!-- # of Organizations user is in -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">1</p>
    </div>

    <!-- Total Tasks Created by User -->
    <div class="col-2">
        <p class="p-0 mt-md-1 mb-0">{{this.totalTasks}}</p>
    </div>

    <!-- Total Tasks Completed by User -->
    <div class="col-2 text-center">
        <p class="p-0 mt-md-1 mb-0">{{this.completedTasks}}</p>
    </div>

</div>
