<!-- Content Container -->
<div id="Polcicy" class="container-fluid">

    <!-- Body Header Container -->
    <div class="row justify-content-center addIssueMarginAndBorder">
        <div id="addPolicyContainer" class="container">

            <!-- Title / Add new Issue Container -->
            <div class="row">

                <!-- Page Title -->
                <div class="col-md-7">
                    <h2>Issue List</h2>
                </div>

                <!-- Search Issue List Container -->
                <div class="col-md-5">

                    <!-- Search Issues bar -->


                    <!-- Add issue modal component -->


                </div>

            </div>

        </div>
    </div>

    <!-- Sort Container -->


    <!-- Print out all issue items -->
    <app-policy-item *ngFor="let item of policyarray"[policyItem]="item" ></app-policy-item>

</div>

