<!-- Content Container -->
<div class="container-fluid policyPageContainer w-100 mw-100 px-0 m-0">

    <!-- Issues Navigation Bar -->
    <div class="row issuesNavigationBar px-2 m-0">
        <div class="col-md-12">
            <div class="row p-0">

                <!-- Title of Current Page -->
                <div class="col-md-4">
                    <h3 class="mt-2 pt-1">Policy List</h3>
                </div>

                <!-- Search Bar -->
                <div class="col-md-8">
                    <div class="row justify-content-end">

                        <!-- Sort Risk Issues Dropdown Toggle -->
                        <button class="btn btn-outline-primary issuesSortButton mr-3" type="button" data-toggle="collapse" data-target="#issuesSortDropdown" aria-expanded="false" aria-controls="issuesSortDropdown">Sort Policies</button>

                        <!-- Add issue modal component -->
                        <div>
                            <app-add-policy
                                    class="float-right">
                            </app-add-policy>
                        </div>

                        <!-- Search Issues bar -->
                        <div class="pr-3">
                            <input class="form-control" type="text" placeholder="Search issues" name="issuelist" value="Search policies">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Sort Container -->
    <app-sort-issue></app-sort-issue>

    <!-- Sort Container -->

    <!-- Print out all Issue items -->
    <div class="row px-2 m-0 issuesContentCon justify-content-start">
        <div class="col-md-4 issuesItemContainer" *ngFor="let item of policyService.policies">
            <app-policy-item [policyItem]="item"></app-policy-item>
        </div>
    </div>
    <div class="row px-2 m-0 issuesContentCon justify-content-start">
        <div class="col-md-4 issuesItemContainer" *ngFor="let item of policyService.policies">

        </div>
    </div>
    <!-- Print out all Policy items -->
<!--    <app-policy-item *ngFor="let item of policyArray"[policyItem]="item" ></app-policy-item>-->

</div>

